<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 142 35" style="enable-background:new 0 0 142 35;" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M57.7,13.6c1.4,0,2.6,0.4,3.3,1.2v-1h4.2v12.8h-4.2v-1.1c-0.7,0.8-2,1.3-3.3,1.3c-3.5,0-5.8-2.5-5.8-6.6
				S54.3,13.6,57.7,13.6z M58.7,23.2c1.4,0,2.6-0.9,2.6-3s-1.2-3-2.6-3c-1.4,0-2.6,0.9-2.6,3S57.3,23.2,58.7,23.2z"/>
			<path d="M73.1,13.6c1.2,0,2.2,0.4,3,1.3v-1.1h4.2v17.9h-4.2v-6.2c-0.8,0.8-1.6,1.2-3,1.2c-3.4,0-5.6-2.5-5.6-6.6
				S69.7,13.6,73.1,13.6z M73.9,23.2c1.4,0,2.4-0.9,2.4-3s-1-3-2.4-3c-1.4,0-2.4,0.9-2.4,3S72.5,23.2,73.9,23.2z"/>
			<path d="M90.9,26.5v-1.5c-0.7,0.9-1.9,1.7-3.6,1.7c-2.8,0-4.3-1.5-4.3-4.6v-8.4h4.2v7.5c0,1.2,0.5,1.8,1.4,1.8
				c1.4,0,2.3-1.3,2.3-3.7v-5.6H95v12.8H90.9z"/>
			<path d="M99.1,8.6h5.3l-3.9,4.1h-3L99.1,8.6z M102.1,13.8v12.8h-4.2V13.8H102.1z"/>
			<path d="M107.5,22c1.3,0,2.4,1,2.4,2.4c0,1.3-1,2.4-2.4,2.4c-1.3,0-2.4-1-2.4-2.4C105.2,23,106.2,22,107.5,22z"/>
			<path d="M120,26.7c-1.2,0-2.2-0.3-2.8-1v5.9H113V13.8h4.2v1.1c0.7-0.8,1.7-1.3,3.2-1.3c3.2,0,5.5,2.5,5.5,6.6
				S123.4,26.7,120,26.7z M119.4,17.1c-1.4,0-2.4,0.9-2.4,3s1,3,2.4,3c1.4,0,2.4-0.9,2.4-3S120.7,17.1,119.4,17.1z"/>
			<path d="M131.4,21.2c0.3,1.5,1.2,2.3,2.8,2.3c1,0,1.9-0.4,2.5-1.4l3.2,1.2c-1.1,2-2.9,3.4-6,3.4c-4.6,0-6.4-3.6-6.4-6.6
				c0-3,2.1-6.6,6.5-6.6c4.6,0,6.2,3.6,6.2,6.3v1.3H131.4z M131.5,18.5h4.9c-0.2-1.1-1-2-2.4-2C132.9,16.6,131.9,17.2,131.5,18.5z"
				/>
		</g>
		<g>
			<path class="logo-color-txt" d="M57.7,13.6c1.4,0,2.6,0.4,3.3,1.2v-1h4.2v12.8h-4.2v-1.1c-0.7,0.8-2,1.3-3.3,1.3c-3.5,0-5.8-2.5-5.8-6.6
				S54.3,13.6,57.7,13.6z M58.7,23.2c1.4,0,2.6-0.9,2.6-3s-1.2-3-2.6-3c-1.4,0-2.6,0.9-2.6,3S57.3,23.2,58.7,23.2z"/>
			<path class="logo-color-txt" d="M73.1,13.6c1.2,0,2.2,0.4,3,1.3v-1.1h4.2v17.9h-4.2v-6.2c-0.8,0.8-1.6,1.2-3,1.2c-3.4,0-5.6-2.5-5.6-6.6
				S69.7,13.6,73.1,13.6z M73.9,23.2c1.4,0,2.4-0.9,2.4-3s-1-3-2.4-3c-1.4,0-2.4,0.9-2.4,3S72.5,23.2,73.9,23.2z"/>
			<path class="logo-color-txt" d="M90.9,26.5v-1.5c-0.7,0.9-1.9,1.7-3.6,1.7c-2.8,0-4.3-1.5-4.3-4.6v-8.4h4.2v7.5c0,1.2,0.5,1.8,1.4,1.8
				c1.4,0,2.3-1.3,2.3-3.7v-5.6H95v12.8H90.9z"/>
			<path class="logo-color-txt" d="M99.1,8.6h5.3l-3.9,4.1h-3L99.1,8.6z M102.1,13.8v12.8h-4.2V13.8H102.1z"/>
			<path class="logo-color-txt" d="M107.5,22c1.3,0,2.4,1,2.4,2.4c0,1.3-1,2.4-2.4,2.4c-1.3,0-2.4-1-2.4-2.4C105.2,23,106.2,22,107.5,22z"/>
			<path class="logo-color-txt" d="M120,26.7c-1.2,0-2.2-0.3-2.8-1v5.9H113V13.8h4.2v1.1c0.7-0.8,1.7-1.3,3.2-1.3c3.2,0,5.5,2.5,5.5,6.6
				S123.4,26.7,120,26.7z M119.4,17.1c-1.4,0-2.4,0.9-2.4,3s1,3,2.4,3c1.4,0,2.4-0.9,2.4-3S120.7,17.1,119.4,17.1z"/>
			<path class="logo-color-txt" d="M131.4,21.2c0.3,1.5,1.2,2.3,2.8,2.3c1,0,1.9-0.4,2.5-1.4l3.2,1.2c-1.1,2-2.9,3.4-6,3.4
				c-4.6,0-6.4-3.6-6.4-6.6c0-3,2.1-6.6,6.5-6.6c4.6,0,6.2,3.6,6.2,6.3v1.3H131.4z M131.5,18.5h4.9c-0.2-1.1-1-2-2.4-2
				C132.9,16.6,131.9,17.2,131.5,18.5z"/>
		</g>
	</g>
	<g>
		<path class="logo-color-icono" d="M47.4,33.2l-7.5-18.9c-0.1-0.3-0.5-0.6-0.8-0.7l-2.7-0.7c-0.2,0.9-0.4,1.7-0.7,2.5l1.8,6l-2.9-0.8l-0.4-1.9
			c-0.3,0.6-0.7,1.1-1.1,1.7l1.4,7.6l-4.3,1.5l-0.6-5.1c-0.5,0.5-1,0.9-1.4,1.3l0.4,4.4l-3.1,1.1l-0.1-3.4l-0.8,0.6l-0.9-0.6
			l-0.1,3.4l-2.3-0.8l0.3-4c-0.4-0.3-0.9-0.7-1.4-1.2l-0.5,4.7l-5.3-1.9l1-5.1l3.4,0.9c-0.7-0.7-1.4-1.5-2.1-2.4l-1-0.3l0.2-0.9
			c-0.4-0.5-0.7-1.1-1.1-1.7l-0.6,2.6l-2.6,0.9l1.1-4.2l1.5-0.5c-0.2-0.4-0.3-0.7-0.5-1.1l-0.6,0.2l0.3-1c-0.3-0.8-0.5-1.7-0.7-2.6
			l-2.7,0.7c-0.4,0.1-0.7,0.4-0.8,0.7L1.9,33.2c-0.2,0.6-0.2,1.1-0.1,1.4C2,34.9,2.2,35,2.5,35c0.1,0,0.3,0,0.4-0.1l10.5-4.1l11,4.1
			c0.2,0.1,0.4,0.1,0.6,0l10.9-4.1l10.6,4.1c0.4,0.2,0.8,0.1,1-0.3C47.6,34.3,47.6,33.8,47.4,33.2z M10.8,14.9l1.9-0.5l-0.8,2.5
			l-2,0.6L10.8,14.9z M9.3,19l2.1-0.7l-1.3,4.2l-2.4,0.8L9.3,19z M12.8,28.1L5.1,31l2-5.6L14,23L12.8,28.1z M36.7,14.4l1.9,0.5
			l2.6,7.5l-2-0.5L36.7,14.4z M36.2,28L35,22.3l6.8,1.9l2.4,6.8L36.2,28z"/>
		<g>
			<path class="logo-color-icono" d="M24.7,26.3l-0.7-0.5c-0.4-0.3-9.6-6.5-9.6-15.5C14.3,4.6,19,0,24.6,0S35,4.6,35,10.3
				c0,8.7-9.2,15.2-9.6,15.5L24.7,26.3z M24.6,2.6c-4.3,0-7.7,3.5-7.7,7.7c0,6.2,5.7,11.2,7.7,12.8c2.1-1.6,7.7-6.8,7.7-12.8
				C32.4,6,28.9,2.6,24.6,2.6z"/>
		</g>
		<g>
			<path class="logo-color-icono" d="M24.5,14c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S26.6,14,24.5,14z M24.5,8.1c-1.1,0-2,0.9-2,2
				c0,1.1,0.9,2,2,2s2-0.9,2-2C26.4,9,25.5,8.1,24.5,8.1z"/>
		</g>
	</g>
</g>
</svg>
