<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 82 67" style="enable-background:new 0 0 82 67;" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M-3.2-1273.3c-0.3-18.7-2.3-76.7-3-92.3s-8-24.7-15.3-28c-7.3-3.3-28-10-50.7-10s-43.3,6.7-50.7,10
				c-7.3,3.3-14.7,12.3-15.3,28s-2.7,73.7-3,92.3c-8.3,9-6,10.7-4,9.7s4.7-3,4.7-3s-3,113.3,1,142s2.3,32.3,2.3,38s3,17.3,15.3,23
				c12.3,5.7,36.3,8,49.7,8s37.3-2.3,49.7-8c12.3-5.7,15.3-17.3,15.3-23s-1.7-9.3,2.3-38s1-142,1-142s2.7,2,4.7,3
				S5.2-1264.3-3.2-1273.3z M-15.8-1251.7c0,0,0,33.3,0,38s-1.7,12.7-6,13c-4.3,0.3-10-2.3-10-7.7c0-5.3,1-21.7,2-25
				c1-3.3,8.3-17.3,9.7-20.7C-18.8-1257.3-15.5-1256.7-15.8-1251.7z M-48.7-1388.7c0,0,17.5,3.5,23.5,6.5s11.7,16-0.5,17
				s-20.3-8.8-25.5-15.3S-55.2-1390.4-48.7-1388.7z M-25.5-1313.3c8.3,5,5.3,16,1.7,24c-3.7,8-8.1,22-10.9,29.3
				c-2.8,7.3-6.8,8.3-14.5,8.3s-23,0-23,0s-15.3,0-23,0s-11.7-1-14.5-8.3c-2.8-7.3-7.2-21.3-10.9-29.3c-3.7-8-6.7-19,1.7-24
				c8.3-5,34-8.7,46.7-8.7S-33.8-1318.3-25.5-1313.3z M-119.2-1382.2c6-3,23.5-6.5,23.5-6.5c6.5-1.8,7.8,1.8,2.5,8.3
				s-13.3,16.3-25.5,15.3S-125.2-1379.2-119.2-1382.2z M-124.2-1254c1.3,3.3,8.7,17.3,9.7,20.7c1,3.3,2,19.7,2,25
				c0,5.3-5.7,8-10,7.7c-4.3-0.3-6-8.3-6-13s0-38,0-38C-128.8-1256.7-125.5-1257.3-124.2-1254z M-128.5-1187c0-5,4-9.3,8-9.3
				s8,5.3,8,9.3s0,22.3,0,27c0,4.7-2.7,8-8,8c-5.3,0-8-4.3-8-9C-128.5-1165.7-128.5-1187-128.5-1187z M-123.5-1112.3
				c-2.7,5.7-5,2.3-5-2c0,0,0-16.3,0-21.3s0.4-11.7,8-12.3c7.7-0.7,10.3,7.7,8,13.7C-114.8-1128.3-120.8-1118-123.5-1112.3z
				 M-72.2-1065.6c-47.5,0-50-13.8-47.9-19.8c1.7-4.8,3.9-11.7,8.8-22.3s8.5-9,13.5-9s16.3,0,25.7,0s20.7,0,25.7,0s8.7-1.7,13.5,9
				s7.1,17.5,8.8,22.3C-22.2-1079.3-24.7-1065.6-72.2-1065.6z M-15.8-1114.3c0,4.3-2.4,7.7-5,2c-2.7-5.7-8.7-16-11-22
				c-2.3-6,0.4-14.3,8-13.7c7.7,0.7,8,7.3,8,12.3S-15.8-1114.3-15.8-1114.3z M-15.8-1161c0,4.7-2.7,9-8,9s-8-3.3-8-8
				c0-4.7,0-23,0-27s4-9.3,8-9.3s8,4.3,8,9.3C-15.8-1187-15.8-1165.7-15.8-1161z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M237.9-1273.3c-0.3-18.7-2.3-76.7-3-92.3c-0.7-15.7-8-24.7-15.3-28c-7.3-3.3-28-10-50.7-10c-22.7,0-43.3,6.7-50.7,10
				s-14.7,12.3-15.3,28c-0.7,15.7-2.7,73.7-3,92.3c-8.3,9-6,10.7-4,9.7s4.7-3,4.7-3s-3,113.3,1,142s2.3,32.3,2.3,38s3,17.3,15.3,23
				s36.3,8,49.7,8c13.3,0,37.3-2.3,49.7-8c12.3-5.7,15.3-17.3,15.3-23s-1.7-9.3,2.3-38s1-142,1-142s2.7,2,4.7,3
				S246.3-1264.3,237.9-1273.3z M225.3-1251.7c0,0,0,33.3,0,38s-1.7,12.7-6,13s-10-2.3-10-7.7c0-5.3,1-21.7,2-25
				c1-3.3,8.3-17.3,9.7-20.7C222.3-1257.3,225.6-1256.7,225.3-1251.7z M192.4-1388.7c0,0,17.5,3.5,23.5,6.5s11.8,16-0.5,17
				s-20.3-8.8-25.5-15.3S185.9-1390.4,192.4-1388.7z M215.6-1313.3c8.3,5,5.3,16,1.7,24s-8.1,22-10.9,29.3
				c-2.8,7.3-6.8,8.3-14.5,8.3c-7.7,0-23,0-23,0s-15.3,0-23,0c-7.7,0-11.7-1-14.5-8.3c-2.8-7.3-7.2-21.3-10.9-29.3
				c-3.7-8-6.7-19,1.7-24s34-8.7,46.7-8.7C181.6-1322,207.3-1318.3,215.6-1313.3z M121.9-1382.2c6-3,23.5-6.5,23.5-6.5
				c6.5-1.8,7.8,1.8,2.5,8.3s-13.3,16.3-25.5,15.3S115.9-1379.2,121.9-1382.2z M116.9-1254c1.3,3.3,8.7,17.3,9.7,20.7
				c1,3.3,2,19.7,2,25c0,5.3-5.7,8-10,7.7c-4.3-0.3-6-8.3-6-13s0-38,0-38C112.3-1256.7,115.6-1257.3,116.9-1254z M112.6-1187
				c0-5,4-9.3,8-9.3c4,0,8,5.3,8,9.3s0,22.3,0,27c0,4.7-2.7,8-8,8c-5.3,0-8-4.3-8-9C112.6-1165.7,112.6-1187,112.6-1187z
				 M117.6-1112.3c-2.7,5.7-5,2.3-5-2c0,0,0-16.3,0-21.3s0.4-11.7,8-12.3c7.7-0.7,10.3,7.7,8,13.7
				C126.3-1128.3,120.3-1118,117.6-1112.3z M168.9-1065.6c-47.5,0-50-13.8-47.9-19.8c1.7-4.8,3.9-11.7,8.8-22.3
				c4.8-10.7,8.5-9,13.5-9s16.3,0,25.7,0c9.3,0,20.7,0,25.7,0s8.7-1.7,13.5,9s7.1,17.5,8.8,22.3
				C218.9-1079.3,216.4-1065.6,168.9-1065.6z M225.3-1114.3c0,4.3-2.4,7.7-5,2c-2.7-5.7-8.7-16-11-22s0.4-14.3,8-13.7
				c7.7,0.7,8,7.3,8,12.3S225.3-1114.3,225.3-1114.3z M225.3-1161c0,4.7-2.7,9-8,9c-5.3,0-8-3.3-8-8c0-4.7,0-23,0-27s4-9.3,8-9.3
				c4,0,8,4.3,8,9.3C225.3-1187,225.3-1165.7,225.3-1161z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M482.4-1273.3c-0.3-18.7-2.3-76.7-3-92.3c-0.7-15.7-8-24.7-15.3-28c-7.3-3.3-28-10-50.7-10c-22.7,0-43.3,6.7-50.7,10
				s-14.7,12.3-15.3,28c-0.7,15.7-2.7,73.7-3,92.3c-8.3,9-6,10.7-4,9.7s4.7-3,4.7-3s-3,113.3,1,142s2.3,32.3,2.3,38s3,17.3,15.3,23
				s36.3,8,49.7,8c13.3,0,37.3-2.3,49.7-8c12.3-5.7,15.3-17.3,15.3-23s-1.7-9.3,2.3-38s1-142,1-142s2.7,2,4.7,3
				S490.7-1264.3,482.4-1273.3z M469.7-1251.7c0,0,0,33.3,0,38s-1.7,12.7-6,13s-10-2.3-10-7.7c0-5.3,1-21.7,2-25
				c1-3.3,8.3-17.3,9.7-20.7C466.8-1257.3,470.1-1256.7,469.7-1251.7z M436.9-1388.7c0,0,17.5,3.5,23.5,6.5s11.8,16-0.5,17
				s-20.3-8.8-25.5-15.3S430.4-1390.4,436.9-1388.7z M460.1-1313.3c8.3,5,5.3,16,1.7,24s-8.1,22-10.9,29.3
				c-2.8,7.3-6.8,8.3-14.5,8.3c-7.7,0-23,0-23,0s-15.3,0-23,0c-7.7,0-11.7-1-14.5-8.3c-2.8-7.3-7.2-21.3-10.9-29.3
				c-3.7-8-6.7-19,1.7-24s34-8.7,46.7-8.7C426.1-1322,451.7-1318.3,460.1-1313.3z M366.4-1382.2c6-3,23.5-6.5,23.5-6.5
				c6.5-1.8,7.8,1.8,2.5,8.3s-13.3,16.3-25.5,15.3S360.4-1379.2,366.4-1382.2z M361.4-1254c1.3,3.3,8.7,17.3,9.7,20.7
				c1,3.3,2,19.7,2,25c0,5.3-5.7,8-10,7.7c-4.3-0.3-6-8.3-6-13s0-38,0-38C356.7-1256.7,360-1257.3,361.4-1254z M357.1-1187
				c0-5,4-9.3,8-9.3c4,0,8,5.3,8,9.3s0,22.3,0,27c0,4.7-2.7,8-8,8c-5.3,0-8-4.3-8-9C357.1-1165.7,357.1-1187,357.1-1187z
				 M362.1-1112.3c-2.7,5.7-5,2.3-5-2c0,0,0-16.3,0-21.3s0.4-11.7,8-12.3c7.7-0.7,10.3,7.7,8,13.7
				C370.7-1128.3,364.7-1118,362.1-1112.3z M413.4-1065.6c-47.5,0-50-13.8-47.9-19.8c1.7-4.8,3.9-11.7,8.8-22.3
				c4.8-10.7,8.5-9,13.5-9s16.3,0,25.7,0c9.3,0,20.7,0,25.7,0s8.7-1.7,13.5,9s7.1,17.5,8.8,22.3
				C463.4-1079.3,460.9-1065.6,413.4-1065.6z M469.8-1114.3c0,4.3-2.4,7.7-5,2c-2.7-5.7-8.7-16-11-22s0.4-14.3,8-13.7
				c7.7,0.7,8,7.3,8,12.3S469.8-1114.3,469.8-1114.3z M469.8-1161c0,4.7-2.7,9-8,9c-5.3,0-8-3.3-8-8c0-4.7,0-23,0-27s4-9.3,8-9.3
				c4,0,8,4.3,8,9.3C469.8-1187,469.8-1165.7,469.8-1161z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M726.9-1273.3c-0.3-18.7-2.3-76.7-3-92.3c-0.7-15.7-8-24.7-15.3-28c-7.3-3.3-28-10-50.7-10c-22.7,0-43.3,6.7-50.7,10
				s-14.7,12.3-15.3,28c-0.7,15.7-2.7,73.7-3,92.3c-8.3,9-6,10.7-4,9.7s4.7-3,4.7-3s-3,113.3,1,142s2.3,32.3,2.3,38s3,17.3,15.3,23
				s36.3,8,49.7,8c13.3,0,37.3-2.3,49.7-8c12.3-5.7,15.3-17.3,15.3-23s-1.7-9.3,2.3-38s1-142,1-142s2.7,2,4.7,3
				S735.2-1264.3,726.9-1273.3z M714.2-1251.7c0,0,0,33.3,0,38s-1.7,12.7-6,13s-10-2.3-10-7.7c0-5.3,1-21.7,2-25
				c1-3.3,8.3-17.3,9.7-20.7C711.3-1257.3,714.6-1256.7,714.2-1251.7z M681.4-1388.7c0,0,17.5,3.5,23.5,6.5s11.8,16-0.5,17
				s-20.3-8.8-25.5-15.3S674.9-1390.4,681.4-1388.7z M704.6-1313.3c8.3,5,5.3,16,1.7,24s-8.1,22-10.9,29.3
				c-2.8,7.3-6.8,8.3-14.5,8.3c-7.7,0-23,0-23,0s-15.3,0-23,0c-7.7,0-11.7-1-14.5-8.3c-2.8-7.3-7.2-21.3-10.9-29.3
				c-3.7-8-6.7-19,1.7-24s34-8.7,46.7-8.7C670.6-1322,696.2-1318.3,704.6-1313.3z M610.9-1382.2c6-3,23.5-6.5,23.5-6.5
				c6.5-1.8,7.8,1.8,2.5,8.3s-13.3,16.3-25.5,15.3S604.9-1379.2,610.9-1382.2z M605.9-1254c1.3,3.3,8.7,17.3,9.7,20.7
				c1,3.3,2,19.7,2,25c0,5.3-5.7,8-10,7.7c-4.3-0.3-6-8.3-6-13c0-4.7,0-38,0-38C601.2-1256.7,604.5-1257.3,605.9-1254z M601.5-1187
				c0-5,4-9.3,8-9.3c4,0,8,5.3,8,9.3s0,22.3,0,27c0,4.7-2.7,8-8,8c-5.3,0-8-4.3-8-9C601.5-1165.7,601.5-1187,601.5-1187z
				 M606.6-1112.3c-2.7,5.7-5,2.3-5-2c0,0,0-16.3,0-21.3s0.4-11.7,8-12.3c7.7-0.7,10.3,7.7,8,13.7
				C615.2-1128.3,609.2-1118,606.6-1112.3z M657.9-1065.6c-47.5,0-50-13.8-47.9-19.8c1.7-4.8,3.9-11.7,8.8-22.3
				c4.8-10.7,8.5-9,13.5-9s16.3,0,25.7,0c9.3,0,20.7,0,25.7,0s8.7-1.7,13.5,9s7.1,17.5,8.8,22.3
				C707.9-1079.3,705.4-1065.6,657.9-1065.6z M714.3-1114.3c0,4.3-2.4,7.7-5,2c-2.7-5.7-8.7-16-11-22s0.4-14.3,8-13.7
				c7.7,0.7,8,7.3,8,12.3S714.3-1114.3,714.3-1114.3z M714.3-1161c0,4.7-2.7,9-8,9c-5.3,0-8-3.3-8-8c0-4.7,0-23,0-27s4-9.3,8-9.3
				s8,4.3,8,9.3C714.3-1187,714.3-1165.7,714.3-1161z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M729.2-757.9c-2,1-4.7,3-4.7,3s3-113.3-1-142s-2.3-32.3-2.3-38s-3-17.3-15.3-23s-36.3-8-49.7-8c-13.3,0-37.3,2.3-49.7,8
				c-12.3,5.7-15.3,17.3-15.3,23s1.7,9.3-2.3,38s-1,142-1,142s-2.7-2-4.7-3s-4.3,0.7,4,9.7c0.3,18.7,2.3,76.7,3,92.3
				c0.7,15.7,8,24.7,15.3,28c7.3,3.3,28,10,50.7,10c22.7,0,43.3-6.7,50.7-10s14.7-12.3,15.3-28c0.7-15.7,2.7-73.7,3-92.3
				C733.5-757.3,731.2-758.9,729.2-757.9z M656.2-956c47.5,0,50,13.8,47.9,19.8c-1.7,4.8-3.9,11.7-8.8,22.3c-4.8,10.7-8.5,9-13.5,9
				s-16.3,0-25.7,0c-9.3,0-20.7,0-25.7,0s-8.7,1.7-13.5-9s-7.1-17.5-8.8-22.3C606.2-942.3,608.7-956,656.2-956z M599.8-907.3
				c0-4.3,2.4-7.7,5-2c2.7,5.7,8.7,16,11,22s-0.4,14.3-8,13.7c-7.7-0.7-8-7.3-8-12.3S599.8-907.3,599.8-907.3z M599.8-860.6
				c0-4.7,2.7-9,8-9c5.3,0,8,3.3,8,8c0,4.7,0,23,0,27s-4,9.3-8,9.3c-4,0-8-4.3-8-9.3C599.8-834.6,599.8-855.9,599.8-860.6z
				 M599.9-769.9c0,0,0-33.3,0-38s1.7-12.7,6-13s10,2.3,10,7.7c0,5.3-1,21.7-2,25c-1,3.3-8.3,17.3-9.7,20.7
				C602.8-764.3,599.5-764.9,599.9-769.9z M632.7-632.9c0,0-17.5-3.5-23.5-6.5s-11.8-16,0.5-17s20.3,8.8,25.5,15.3
				S639.2-631.2,632.7-632.9z M609.5-708.3c-8.3-5-5.3-16-1.7-24s8.1-22,10.9-29.3c2.8-7.3,6.8-8.3,14.5-8.3c7.7,0,23,0,23,0
				s15.3,0,23,0c7.7,0,11.7,1,14.5,8.3c2.8,7.3,7.2,21.3,10.9,29.3c3.7,8,6.7,19-1.7,24s-34,8.7-46.7,8.7
				C643.5-699.6,617.9-703.3,609.5-708.3z M703.2-639.4c-6,3-23.5,6.5-23.5,6.5c-6.5,1.8-7.8-1.8-2.5-8.3s13.3-16.3,25.5-15.3
				S709.2-642.4,703.2-639.4z M708.2-767.6c-1.3-3.3-8.7-17.3-9.7-20.7c-1-3.3-2-19.7-2-25c0-5.3,5.7-8,10-7.7c4.3,0.3,6,8.3,6,13
				s0,38,0,38C712.9-764.9,709.6-764.3,708.2-767.6z M712.6-834.6c0,5-4,9.3-8,9.3c-4,0-8-5.3-8-9.3s0-22.3,0-27c0-4.7,2.7-8,8-8
				c5.3,0,8,4.3,8,9C712.6-855.9,712.6-834.6,712.6-834.6z M712.6-885.9c0,5-0.4,11.7-8,12.3c-7.7,0.7-10.3-7.7-8-13.7
				c2.3-6,8.3-16.3,11-22c2.7-5.7,5-2.3,5,2C712.6-907.3,712.6-890.9,712.6-885.9z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M243.6-757.9c-2,1-4.7,3-4.7,3s3-113.3-1-142s-2.3-32.3-2.3-38s-3-17.3-15.3-23c-12.3-5.7-36.3-8-49.7-8
				s-37.3,2.3-49.7,8c-12.3,5.7-15.3,17.3-15.3,23s1.7,9.3-2.3,38s-1,142-1,142s-2.7-2-4.7-3s-4.3,0.7,4,9.7
				c0.3,18.7,2.3,76.7,3,92.3s8,24.7,15.3,28c7.3,3.3,28,10,50.7,10s43.3-6.7,50.7-10c7.3-3.3,14.7-12.3,15.3-28s2.7-73.7,3-92.3
				C247.9-757.3,245.6-758.9,243.6-757.9z M170.6-956c47.5,0,50,13.8,47.9,19.8c-1.7,4.8-3.9,11.7-8.8,22.3s-8.5,9-13.5,9
				s-16.3,0-25.7,0s-20.7,0-25.7,0s-8.7,1.7-13.5-9c-4.8-10.7-7.1-17.5-8.8-22.3C120.6-942.3,123.1-956,170.6-956z M114.3-907.3
				c0-4.3,2.4-7.7,5-2c2.7,5.7,8.7,16,11,22c2.3,6-0.4,14.3-8,13.7c-7.7-0.7-8-7.3-8-12.3S114.3-907.3,114.3-907.3z M114.3-860.6
				c0-4.7,2.7-9,8-9c5.3,0,8,3.3,8,8c0,4.7,0,23,0,27s-4,9.3-8,9.3s-8-4.3-8-9.3C114.3-834.6,114.3-855.9,114.3-860.6z M114.3-769.9
				c0,0,0-33.3,0-38s1.7-12.7,6-13c4.3-0.3,10,2.3,10,7.7c0,5.3-1,21.7-2,25c-1,3.3-8.3,17.3-9.7,20.7
				C117.3-764.3,113.9-764.9,114.3-769.9z M147.1-632.9c0,0-17.5-3.5-23.5-6.5s-11.8-16,0.5-17s20.3,8.8,25.5,15.3
				S153.6-631.2,147.1-632.9z M123.9-708.3c-8.3-5-5.3-16-1.7-24c3.7-8,8.1-22,10.9-29.3c2.8-7.3,6.8-8.3,14.5-8.3s23,0,23,0
				s15.3,0,23,0s11.7,1,14.5,8.3c2.8,7.3,7.2,21.3,10.9,29.3c3.7,8,6.7,19-1.7,24c-8.3,5-34,8.7-46.7,8.7S132.3-703.3,123.9-708.3z
				 M217.6-639.4c-6,3-23.5,6.5-23.5,6.5c-6.5,1.8-7.8-1.8-2.5-8.3s13.3-16.3,25.5-15.3S223.6-642.4,217.6-639.4z M222.6-767.6
				c-1.3-3.3-8.7-17.3-9.7-20.7c-1-3.3-2-19.7-2-25c0-5.3,5.7-8,10-7.7c4.3,0.3,6,8.3,6,13s0,38,0,38
				C227.3-764.9,224-764.3,222.6-767.6z M227-834.6c0,5-4,9.3-8,9.3s-8-5.3-8-9.3s0-22.3,0-27c0-4.7,2.7-8,8-8s8,4.3,8,9
				C227-855.9,227-834.6,227-834.6z M227-885.9c0,5-0.4,11.7-8,12.3c-7.7,0.7-10.3-7.7-8-13.7c2.3-6,8.3-16.3,11-22
				c2.7-5.7,5-2.3,5,2C227-907.3,227-890.9,227-885.9z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M-0.9-757.9c-2,1-4.7,3-4.7,3s3-113.3-1-142s-2.3-32.3-2.3-38s-3-17.3-15.3-23c-12.3-5.7-36.3-8-49.7-8
				c-13.3,0-37.3,2.3-49.7,8s-15.3,17.3-15.3,23s1.7,9.3-2.3,38s-1,142-1,142s-2.7-2-4.7-3s-4.3,0.7,4,9.7c0.3,18.7,2.3,76.7,3,92.3
				c0.7,15.7,8,24.7,15.3,28s28,10,50.7,10c22.7,0,43.3-6.7,50.7-10c7.3-3.3,14.7-12.3,15.3-28c0.7-15.7,2.7-73.7,3-92.3
				C3.5-757.3,1.1-758.9-0.9-757.9z M-73.9-956c47.5,0,50,13.8,47.9,19.8c-1.7,4.8-3.9,11.7-8.8,22.3s-8.5,9-13.5,9s-16.3,0-25.7,0
				c-9.3,0-20.7,0-25.7,0s-8.7,1.7-13.5-9c-4.8-10.7-7.1-17.5-8.8-22.3C-123.9-942.3-121.4-956-73.9-956z M-130.2-907.3
				c0-4.3,2.4-7.7,5-2c2.7,5.7,8.7,16,11,22c2.3,6-0.4,14.3-8,13.7c-7.7-0.7-8-7.3-8-12.3S-130.2-907.3-130.2-907.3z M-130.2-860.6
				c0-4.7,2.7-9,8-9c5.3,0,8,3.3,8,8c0,4.7,0,23,0,27s-4,9.3-8,9.3c-4,0-8-4.3-8-9.3C-130.2-834.6-130.2-855.9-130.2-860.6z
				 M-130.2-769.9c0,0,0-33.3,0-38s1.7-12.7,6-13c4.3-0.3,10,2.3,10,7.7c0,5.3-1,21.7-2,25c-1,3.3-8.3,17.3-9.7,20.7
				C-127.2-764.3-130.5-764.9-130.2-769.9z M-97.4-632.9c0,0-17.5-3.5-23.5-6.5s-11.8-16,0.5-17s20.3,8.8,25.5,15.3
				S-90.9-631.2-97.4-632.9z M-120.5-708.3c-8.3-5-5.3-16-1.7-24c3.7-8,8.1-22,10.9-29.3c2.8-7.3,6.8-8.3,14.5-8.3c7.7,0,23,0,23,0
				s15.3,0,23,0c7.7,0,11.7,1,14.5,8.3c2.8,7.3,7.2,21.3,10.9,29.3s6.7,19-1.7,24c-8.3,5-34,8.7-46.7,8.7
				C-86.5-699.6-112.2-703.3-120.5-708.3z M-26.9-639.4c-6,3-23.5,6.5-23.5,6.5c-6.5,1.8-7.8-1.8-2.5-8.3s13.3-16.3,25.5-15.3
				S-20.9-642.4-26.9-639.4z M-21.9-767.6c-1.3-3.3-8.7-17.3-9.7-20.7c-1-3.3-2-19.7-2-25c0-5.3,5.7-8,10-7.7s6,8.3,6,13s0,38,0,38
				C-17.2-764.9-20.5-764.3-21.9-767.6z M-17.5-834.6c0,5-4,9.3-8,9.3c-4,0-8-5.3-8-9.3s0-22.3,0-27c0-4.7,2.7-8,8-8
				c5.3,0,8,4.3,8,9C-17.5-855.9-17.5-834.6-17.5-834.6z M-17.5-885.9c0,5-0.4,11.7-8,12.3c-7.7,0.7-10.3-7.7-8-13.7s8.3-16.3,11-22
				c2.7-5.7,5-2.3,5,2C-17.5-907.3-17.5-890.9-17.5-885.9z"/>
		</g>
	</g>
	<polygon points="774.6,-1403.7 774.6,-1016.3 541.2,-1016.3 541.2,-1403.7 530.2,-1403.7 530.2,-1016.3 296.7,-1016.3 
		296.7,-1403.7 285.7,-1403.7 285.7,-1016.3 52.2,-1016.3 52.2,-1403.7 41.2,-1403.7 41.2,-1016.3 -192.3,-1016.3 -192.3,-1403.7 
		-203.3,-1403.7 -203.3,-617.9 -192.3,-617.9 -192.3,-1005.3 41.2,-1005.3 41.2,-617.9 52.2,-617.9 52.2,-1005.3 285.7,-1005.3 
		285.7,-617.9 296.7,-617.9 296.7,-1005.3 530.2,-1005.3 530.2,-617.9 541.2,-617.9 541.2,-1005.3 774.6,-1005.3 774.6,-617.9 
		785.6,-617.9 785.6,-1403.7 	"/>
	<g>
		<g>
			<path d="M471.8-732.3H366.5c-17.6,0-32-14.4-32-32V-857c0-17.6,14.4-32,32-32h105.3c17.6,0,32,14.4,32,32v92.8
				C503.8-746.6,489.5-732.3,471.8-732.3z M366.5-881c-13.2,0-24,10.8-24,24v92.8c0,13.2,10.8,24,24,24h105.3c13.2,0,24-10.8,24-24
				V-857c0-13.2-10.8-24-24-24H366.5z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M445.7-850.6v17.3h-34v11.3h26.7v17.3h-26.7v16.5h35.1v17.3h-55.4v-79.8H445.7z"/>
		</g>
	</g>
</g>
<g>
	<path d="M79.2,59.9L66.7,28.1c-0.2-0.6-0.8-1.1-1.4-1.2l-4.5-1.2c-0.3,1.4-0.6,2.9-1.1,4.2l3,10.1l-5-1.3L57,35.5
		c-0.6,1-1.2,1.9-1.8,2.8l2.4,12.8l-7.2,2.5l-1-8.6c-0.8,0.8-1.6,1.6-2.4,2.2l0.7,7.4l-5.2,1.9l-0.1-5.7l-1.3,0.9l-1.5-1l-0.1,5.8
		l-3.8-1.3l0.5-6.8c-0.7-0.5-1.5-1.2-2.4-2l-0.8,7.9L24,51.1l1.6-8.5l5.7,1.5c-1.1-1.2-2.3-2.5-3.5-4l-1.7-0.4l0.3-1.5
		c-0.6-0.9-1.2-1.8-1.8-2.8l-1,4.4l-4.4,1.5l1.9-7l2.5-0.8c-0.3-0.6-0.6-1.3-0.8-1.9l-1,0.3l0.4-1.7c-0.5-1.4-0.9-2.9-1.1-4.4
		l-4.5,1.2c-0.6,0.2-1.2,0.7-1.4,1.2L2.8,59.9c-0.4,0.9-0.4,1.8-0.1,2.4c0.2,0.4,0.6,0.6,1,0.6c0.2,0,0.4,0,0.7-0.1L22,55.9l18.5,7
		c0.3,0.1,0.7,0.1,1,0l18.4-7l17.8,6.9c0.7,0.3,1.3,0.1,1.6-0.5C79.6,61.8,79.6,60.9,79.2,59.9z M17.7,29.1l3.1-0.9l-1.3,4.3
		l-3.4,1.1L17.7,29.1z M15.2,36.1l3.6-1.1l-2.1,7.1l-4,1.3L15.2,36.1z M21.1,51.3l-13,4.8l3.3-9.5l11.6-4L21.1,51.3z M61.2,28.3
		l3.1,0.9l4.4,12.5l-3.4-0.9L61.2,28.3z M60.5,51.2l-2.1-9.7l11.5,3.2l4,11.4L60.5,51.2z"/>
	<g>
		<path d="M41,48.3l-1.2-0.8c-0.7-0.4-16.1-10.9-16.1-26c0-9.6,7.8-17.3,17.3-17.3s17.3,7.8,17.3,17.3c0,14.6-15.4,25.6-16.1,26
			L41,48.3z M41,8.4c-7.2,0-13,5.8-13,13c0,10.5,9.5,18.9,13,21.5c3.5-2.8,13-11.4,13-21.5C54,14.2,48.2,8.4,41,8.4z"/>
	</g>
	<g>
		<path d="M40.7,27.6c-3.7,0-6.7-3-6.7-6.7s3-6.7,6.7-6.7c3.7,0,6.7,3,6.7,6.7S44.4,27.6,40.7,27.6z M40.7,17.7
			c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3c1.8,0,3.3-1.5,3.3-3.3C44,19.1,42.5,17.7,40.7,17.7z"/>
	</g>
</g>
</svg>
