<div class="wrapper-inner wrapper-cuenta wrapper-black">
    <div class="wrapper-content">
        <div class="title align-center color-amarillo">Crea tu cuenta en aquí.pe</div>
        <div class="lema text-content">Estás a solo unos clics de crear tu propia experiencia en aquí.pe</div>
        <div class="info-content-count">
            <div class="row cf">
                <%= form_for :users, :url => { :action => :create } do |q| %>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :first_name, "Nombre:" %>
                        <div class="form_input">
                            <%= q.text_field :first_name, class: 'form-control', placeholder: 'Ingresa tu nombre' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :last_name, "Apellidos:" %>
                        <div class="form_input">
                            <%= q.text_field :last_name, class: 'form-control', placeholder: 'Ingresa tu nombre' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :type_document, "Tipo de documento:" %>
                        <div class="form_input">
                            <%= q.select :type_document, options_for_select([["Selecciona un tipo de document", ""], "DNI", "Carnet extranjero"]), { :class => 'form-control' } %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :n_document, "N° de documento:" %>
                        <div class="form_input">
                            <%= q.number_field :n_document, class: 'form-control', placeholder: 'Ingresa tu documento' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :f_birth, "Fecha de nacimiento:" %>
                        <div class="form_input">
                            <%= q.date_field :f_birth, class: 'form-control' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :phone, "Teléfono:" %>
                        <div class="form_input">
                            <%= q.telephone_field :phone, class: 'form-control', placeholder: 'Ingresa tu N° teléfono' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :sex, "Sexo:" %>
                        <div class="form_input">
                            <%= q.select :sex, options_for_select([["Selecciona tu sexo", ""], "Másculino", "Femenino"]), { :class => 'form-control' } %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :email, "Correo:" %>
                        <div class="form_input">
                            <%= q.email_field :email, class: 'form-control', placeholder: "Ingresa tu correo" %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :password, "Contraseña:" %>
                        <div class="form_input">
                            <%= q.password_field :password, class: 'form-control', placeholder: 'Ingresa tu contraseña' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <%= q.label :remember_token, "Vuelva a escribir tu contraseña:" %>
                        <div class="form_input">
                            <%= q.password_field :remember_token, class: 'form-control', placeholder: 'Vuelve a escribir tu contraseña' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <%= q.label :tyc do %>
                        <%= q.check_box :tyc %>
                             <%= link_to 'Acépto los términos y condiciones', root_path %>
                        <% end %>
                    </div>
                    <div class="col-sm-4 align-right">
                        <%= q.submit 'Crear cuenta', :class => 'btn-yellow' %>
                    </div>                    
                </div>
                <% end %>
            </div>
        </div>

    </div>
</div>