<%-# Content Search -%>
<div class="content-head">
    <div class="info-head">
    <div class="txt-small">¿Buscas un <span class="color-amarillo">estacionamiento?</span></div>
    <div class="txt-two"><span class="color-amarillo">aquí</span> encontrarás tu estacionamiento en 3 simples pasos y no pierdas tiempo dando vueltas.</div>
    <%= form_for :home, method: :get, :url => { :action => :search } do |s| %>
        <div class="form-search cf">
        <div class="search_input">
            <i class="fa fa-map-marker"></i>
             <%= s.text_field :search, class: 'form-control', placeholder: 'Ej: Chorrillos' %>
        </div>
        <%= button_tag(type: "submit", id: "send", class: "a") do %>
            Buscar <i class="fa fa-long-arrow-right"></i>
        <% end %>
        <div id="btn-filter" class="btn-filter">Filtrar <i class="fa fa-filter"></i></div>
        </div>
    <% end %>
    </div>
    <div class="slider-background">
    <div class="list-slider" style="background-image: url(<%= asset_path 'background1.jpg' %>) ;"></div>
    </div>
    <div class="cloud-cluster">
    <div class="background">
        <div class="before"></div>
        <div class="after"></div>
    </div>
    <div class="foreground">
        <div class="before"></div>
        <div class="after"></div>
    </div>
    </div>
</div>  

<div class="wrapper-info">
    <div class="wrapper-content">
    <div class="title_principal align-center">Pasos para buscar tu estacionamiento</div>
    <p class="align-center subtitle_h3">Encuentra un lugar cerca de ti al mejor precio para estacionar unas horas o  varios días</p>
    <div class="row">
        <div class="col-sm-4 block-steep">
        <span class="number">1</span>
        <div class="step-image">
            <%= render 'step1' %>
        </div>
        <p>Busca la dirección donde deseas estacionarte</p>
        </div>
        <div class="col-sm-4 block-steep">
        <span class="number">2</span>
        <div class="step-image">
            <%= render 'step2' %>
        </div>
        <p>Puedes filtrar tu búsqueda. Además, seleccionar la hora de ingreso y salida.</p>
        </div>
        <div class="col-sm-4 block-steep">
        <span class="number">3</span>
        <div class="step-image">
            <%= render 'step3' %>
        </div>       
        <p>Compara precio y elige el estacionamiento más apropiado para ti</p>
        </div>
    </div>
    </div>      
</div>

<div class="wrapper-info-black">
    <div class="wrapper-content">
    <div class="title_principal align-center">¿Tienes el garaje vacío? Nosotros nos encargamos de que se alquile</div>
    <div class="cf">
        <div class="col-sm-8">            
        <p>Para poder ganar un dinero extra el tiempo que tu garaje está vacío no necesitas poner anuncios en decenas de páginas de clasificados. Ni prestar el mando o la llave para que entren al garaje. </p>
        <p>Alquilando tu plaza de tu estacionamiento con Aquí.pe, nosotros nos encargamos de todo. Tú sólo tendrás que preocuparte de en qué vas a gastar esos ingresos extra.</p>
      
            <%= link_to registro_path, :class => 'btn-yellow margin-bottom', :action => 'go' do %>
                Regístrate <i class="fa fa-long-arrow-right"></i>
            <% end %>
        </div>
        <div class="col-sm-4">
        <div class="img-parking">
            <%= render 'img-parking' %>
        </div>
        </div>
    </div>
    </div>      
</div>

