<div class="wrapper-search-inner wrapper-black">
    <div class="wrapper-content">
        <h1 class="title_principal align-center">Búsqueda de <span class="color-amarillo">estacionamiento</span></h1>
        <%= form_for :home, method: :get, :url => { :action => :search }, :html => {:class => 'form-search-inner', 'data-bar' => 'baz'} do |s| %>
            <div class="cf">
                <div class="col-sm-10">
                    <div class="label-s">
                        <%= s.label :search, '¿Dónde deseas estacionarte?:' %>
                    </div>
                    <div class="input-s">
                        <%= s.text_field :search, :value => 'Chorrillos' %>
                    </div>                    
                </div>
                <div class="col-sm-2">
                <%= button_tag(type: "submit", id: "send", class: "a btn_inner-search") do %>
                    Buscar <i class="fa fa-long-arrow-right"></i>
                <% end %>
                </div>
            </div>            
        <% end %>
    </div>
</div>
<div class="wrapper-result-e wrapper-gray">
    <div class="wrapper-content">
        <div class="result-parking">
            <div class="scroll-result cf">
                <% @parkings.each do |parkinge| %>
                <%= link_to parking_path(parkinge.id), class: "block-result cf" do %>
                    <div class="image">
                        <%= image_tag "img1.jpg", html: { alt: "image 1" } %>
                    </div>
                    <div class="description">
                        <div class="price"> S/ <%= parkinge.price%>.00 <span>PEN</span></div>
                        <div class="title"><%= parkinge.name %></div>
                        <div class="address"><%= parkinge.address %> - <%= parkinge.district %></div>
                        <div class="service">
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                        </div>
                        <div class="btn-reservation">Reservar <i class="fa fa-long-arrow-right"></i></div>
                    </div>                   
                <% end %>
                <%end%>
                
            </div>
        </div>
    </div>
</div>

<div id="map-google">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35019.314846974936!2d-77.01890707182422!3d-12.191756716447857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9deeb34c327%3A0x4f7929b6bba87e8e!2sDistrito+de+Chorrillos!5e0!3m2!1ses!2spe!4v1529522159446" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>