<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 320" style="enable-background:new 0 0 400 320;" xml:space="preserve">
	
    <g>
        <g>
            <g>
                <path class="img-parking" d="M82,54.8c-0.1-7.5-0.9-30.7-1.2-37c-0.3-6.3-3.2-9.9-6.1-11.2c-2.9-1.3-11.2-4-20.3-4S37,5.2,34.1,6.6
                    c-2.9,1.3-5.9,4.9-6.1,11.2s-1.1,29.5-1.2,37c-3.3,3.6-2.4,4.3-1.6,3.9c0.8-0.4,1.9-1.2,1.9-1.2s-1.2,45.4,0.4,56.9
                    s0.9,13,0.9,15.2c0,2.3,1.2,6.9,6.1,9.2c4.9,2.3,14.6,3.2,19.9,3.2s15-0.9,19.9-3.2c4.9-2.3,6.1-6.9,6.1-9.2
                    c0-2.3-0.7-3.7,0.9-15.2c1.6-11.5,0.4-56.9,0.4-56.9s1.1,0.8,1.9,1.2C84.5,59.1,85.4,58.4,82,54.8z M77,63.5c0,0,0,13.4,0,15.2
                    s-0.7,5.1-2.4,5.2c-1.7,0.1-4-0.9-4-3.1c0-2.1,0.4-8.7,0.8-10c0.4-1.3,3.3-6.9,3.9-8.3C75.8,61.2,77.1,61.5,77,63.5z M63.8,8.6
                    c0,0,7,1.4,9.4,2.6s4.7,6.4-0.2,6.8c-4.9,0.4-8.1-3.5-10.2-6.1C60.7,9.3,61.2,7.9,63.8,8.6z M73.1,38.8c3.3,2,2.1,6.4,0.7,9.6
                    c-1.5,3.2-3.2,8.8-4.4,11.8c-1.1,2.9-2.7,3.3-5.8,3.3c-3.1,0-9.2,0-9.2,0s-6.1,0-9.2,0s-4.7-0.4-5.8-3.3
                    c-1.1-2.9-2.9-8.5-4.4-11.8c-1.5-3.2-2.7-7.6,0.7-9.6c3.3-2,13.6-3.5,18.7-3.5S69.8,36.8,73.1,38.8z M35.6,11.2
                    C38,10,45,8.6,45,8.6c2.6-0.7,3.1,0.7,1,3.3c-2.1,2.6-5.3,6.5-10.2,6.1C30.9,17.6,33.2,12.4,35.6,11.2z M33.6,62.5
                    c0.5,1.3,3.5,6.9,3.9,8.3c0.4,1.3,0.8,7.9,0.8,10c0,2.1-2.3,3.2-4,3.1c-1.7-0.1-2.4-3.3-2.4-5.2s0-15.2,0-15.2
                    C31.7,61.5,33,61.2,33.6,62.5z M31.8,89.4c0-2,1.6-3.7,3.2-3.7s3.2,2.1,3.2,3.7c0,1.6,0,8.9,0,10.8c0,1.9-1.1,3.2-3.2,3.2
                    c-2.1,0-3.2-1.7-3.2-3.6C31.8,97.9,31.8,89.4,31.8,89.4z M33.8,119.3c-1.1,2.3-2,0.9-2-0.8c0,0,0-6.5,0-8.5s0.1-4.7,3.2-4.9
                    c3.1-0.3,4.1,3.1,3.2,5.5C37.3,112.9,34.9,117,33.8,119.3z M54.4,138c-19,0-20-5.5-19.2-7.9c0.7-1.9,1.6-4.7,3.5-8.9
                    c1.9-4.3,3.4-3.6,5.4-3.6s6.5,0,10.3,0c3.7,0,8.3,0,10.3,0c2,0,3.5-0.7,5.4,3.6c1.9,4.3,2.8,7,3.5,8.9
                    C74.4,132.5,73.4,138,54.4,138z M77,118.5c0,1.7-0.9,3.1-2,0.8c-1.1-2.3-3.5-6.4-4.4-8.8c-0.9-2.4,0.1-5.7,3.2-5.5
                    c3.1,0.3,3.2,2.9,3.2,4.9S77,118.5,77,118.5z M77,99.8c0,1.9-1.1,3.6-3.2,3.6c-2.1,0-3.2-1.3-3.2-3.2c0-1.9,0-9.2,0-10.8
                    c0-1.6,1.6-3.7,3.2-3.7c1.6,0,3.2,1.7,3.2,3.7C77,89.4,77,97.9,77,99.8z"/>
            </g>
        </g>
        <g>
            <g>
                <path class="img-parking" d="M178.7,54.8c-0.1-7.5-0.9-30.7-1.2-37c-0.3-6.3-3.2-9.9-6.1-11.2c-2.9-1.3-11.2-4-20.3-4
                    c-9.1,0-17.4,2.7-20.3,4c-2.9,1.3-5.9,4.9-6.1,11.2c-0.3,6.3-1.1,29.5-1.2,37c-3.3,3.6-2.4,4.3-1.6,3.9c0.8-0.4,1.9-1.2,1.9-1.2
                    s-1.2,45.4,0.4,56.9s0.9,13,0.9,15.2c0,2.3,1.2,6.9,6.1,9.2c4.9,2.3,14.6,3.2,19.9,3.2c5.3,0,15-0.9,19.9-3.2
                    c4.9-2.3,6.1-6.9,6.1-9.2c0-2.3-0.7-3.7,0.9-15.2s0.4-56.9,0.4-56.9s1.1,0.8,1.9,1.2C181.1,59.1,182,58.4,178.7,54.8z
                    M173.6,63.5c0,0,0,13.4,0,15.2c0,1.9-0.7,5.1-2.4,5.2s-4-0.9-4-3.1c0-2.1,0.4-8.7,0.8-10c0.4-1.3,3.3-6.9,3.9-8.3
                    C172.4,61.2,173.7,61.5,173.6,63.5z M160.4,8.6c0,0,7,1.4,9.4,2.6s4.7,6.4-0.2,6.8c-4.9,0.4-8.1-3.5-10.2-6.1
                    S157.8,7.9,160.4,8.6z M169.7,38.8c3.3,2,2.1,6.4,0.7,9.6s-3.2,8.8-4.4,11.8c-1.1,2.9-2.7,3.3-5.8,3.3c-3.1,0-9.2,0-9.2,0
                    s-6.1,0-9.2,0c-3.1,0-4.7-0.4-5.8-3.3c-1.1-2.9-2.9-8.5-4.4-11.8c-1.5-3.2-2.7-7.6,0.7-9.6c3.3-2,13.6-3.5,18.7-3.5
                    C156.1,35.3,166.4,36.8,169.7,38.8z M132.2,11.2c2.4-1.2,9.4-2.6,9.4-2.6c2.6-0.7,3.1,0.7,1,3.3s-5.3,6.5-10.2,6.1
                    C127.5,17.6,129.8,12.4,132.2,11.2z M130.2,62.5c0.5,1.3,3.5,6.9,3.9,8.3c0.4,1.3,0.8,7.9,0.8,10c0,2.1-2.3,3.2-4,3.1
                    c-1.7-0.1-2.4-3.3-2.4-5.2c0-1.9,0-15.2,0-15.2C128.3,61.5,129.6,61.2,130.2,62.5z M128.4,89.4c0-2,1.6-3.7,3.2-3.7
                    c1.6,0,3.2,2.1,3.2,3.7c0,1.6,0,8.9,0,10.8c0,1.9-1.1,3.2-3.2,3.2c-2.1,0-3.2-1.7-3.2-3.6C128.4,97.9,128.4,89.4,128.4,89.4z
                    M130.4,119.3c-1.1,2.3-2,0.9-2-0.8c0,0,0-6.5,0-8.5s0.1-4.7,3.2-4.9c3.1-0.3,4.1,3.1,3.2,5.5C133.9,112.9,131.5,117,130.4,119.3
                    z M151,138c-19,0-20-5.5-19.2-7.9c0.7-1.9,1.6-4.7,3.5-8.9c1.9-4.3,3.4-3.6,5.4-3.6c2,0,6.5,0,10.3,0c3.7,0,8.3,0,10.3,0
                    s3.5-0.7,5.4,3.6c1.9,4.3,2.8,7,3.5,8.9C171,132.5,170,138,151,138z M173.6,118.5c0,1.7-0.9,3.1-2,0.8c-1.1-2.3-3.5-6.4-4.4-8.8
                    s0.1-5.7,3.2-5.5c3.1,0.3,3.2,2.9,3.2,4.9S173.6,118.5,173.6,118.5z M173.6,99.8c0,1.9-1.1,3.6-3.2,3.6c-2.1,0-3.2-1.3-3.2-3.2
                    c0-1.9,0-9.2,0-10.8c0-1.6,1.6-3.7,3.2-3.7c1.6,0,3.2,1.7,3.2,3.7C173.6,89.4,173.6,97.9,173.6,99.8z"/>
            </g>
        </g>
        <g>
            <g>
                <path class="img-parking" d="M276.6,54.8c-0.1-7.5-0.9-30.7-1.2-37c-0.3-6.3-3.2-9.9-6.1-11.2c-2.9-1.3-11.2-4-20.3-4
                    c-9.1,0-17.4,2.7-20.3,4c-2.9,1.3-5.9,4.9-6.1,11.2c-0.3,6.3-1.1,29.5-1.2,37c-3.3,3.6-2.4,4.3-1.6,3.9c0.8-0.4,1.9-1.2,1.9-1.2
                    s-1.2,45.4,0.4,56.9c1.6,11.5,0.9,13,0.9,15.2c0,2.3,1.2,6.9,6.1,9.2c4.9,2.3,14.6,3.2,19.9,3.2c5.3,0,15-0.9,19.9-3.2
                    c4.9-2.3,6.1-6.9,6.1-9.2c0-2.3-0.7-3.7,0.9-15.2s0.4-56.9,0.4-56.9s1.1,0.8,1.9,1.2C279,59.1,280,58.4,276.6,54.8z M271.6,63.5
                    c0,0,0,13.4,0,15.2s-0.7,5.1-2.4,5.2s-4-0.9-4-3.1c0-2.1,0.4-8.7,0.8-10c0.4-1.3,3.3-6.9,3.9-8.3
                    C270.4,61.2,271.7,61.5,271.6,63.5z M258.4,8.6c0,0,7,1.4,9.4,2.6c2.4,1.2,4.7,6.4-0.2,6.8c-4.9,0.4-8.1-3.5-10.2-6.1
                    C255.3,9.3,255.8,7.9,258.4,8.6z M267.7,38.8c3.3,2,2.1,6.4,0.7,9.6s-3.2,8.8-4.4,11.8c-1.1,2.9-2.7,3.3-5.8,3.3
                    c-3.1,0-9.2,0-9.2,0s-6.1,0-9.2,0c-3.1,0-4.7-0.4-5.8-3.3c-1.1-2.9-2.9-8.5-4.4-11.8c-1.5-3.2-2.7-7.6,0.7-9.6
                    c3.3-2,13.6-3.5,18.7-3.5C254.1,35.3,264.3,36.8,267.7,38.8z M230.2,11.2c2.4-1.2,9.4-2.6,9.4-2.6c2.6-0.7,3.1,0.7,1,3.3
                    s-5.3,6.5-10.2,6.1C225.4,17.6,227.7,12.4,230.2,11.2z M228.1,62.5c0.5,1.3,3.5,6.9,3.9,8.3c0.4,1.3,0.8,7.9,0.8,10
                    c0,2.1-2.3,3.2-4,3.1c-1.7-0.1-2.4-3.3-2.4-5.2c0-1.9,0-15.2,0-15.2C226.3,61.5,227.6,61.2,228.1,62.5z M226.4,89.4
                    c0-2,1.6-3.7,3.2-3.7c1.6,0,3.2,2.1,3.2,3.7c0,1.6,0,8.9,0,10.8c0,1.9-1.1,3.2-3.2,3.2c-2.1,0-3.2-1.7-3.2-3.6
                    C226.4,97.9,226.4,89.4,226.4,89.4z M228.4,119.3c-1.1,2.3-2,0.9-2-0.8c0,0,0-6.5,0-8.5s0.1-4.7,3.2-4.9c3.1-0.3,4.1,3.1,3.2,5.5
                    C231.9,112.9,229.5,117,228.4,119.3z M249,138c-19,0-20-5.5-19.2-7.9c0.7-1.9,1.6-4.7,3.5-8.9c1.9-4.3,3.4-3.6,5.4-3.6
                    c2,0,6.5,0,10.3,0c3.7,0,8.3,0,10.3,0s3.5-0.7,5.4,3.6c1.9,4.3,2.8,7,3.5,8.9C269,132.5,268,138,249,138z M271.6,118.5
                    c0,1.7-0.9,3.1-2,0.8c-1.1-2.3-3.5-6.4-4.4-8.8s0.1-5.7,3.2-5.5c3.1,0.3,3.2,2.9,3.2,4.9S271.6,118.5,271.6,118.5z M271.6,99.8
                    c0,1.9-1.1,3.6-3.2,3.6c-2.1,0-3.2-1.3-3.2-3.2c0-1.9,0-9.2,0-10.8c0-1.6,1.6-3.7,3.2-3.7c1.6,0,3.2,1.7,3.2,3.7
                    C271.6,89.4,271.6,97.9,271.6,99.8z"/>
            </g>
        </g>
        <g>
            <g>
                <path class="img-parking" d="M374.6,54.8c-0.1-7.5-0.9-30.7-1.2-37c-0.3-6.3-3.2-9.9-6.1-11.2c-2.9-1.3-11.2-4-20.3-4
                    c-9.1,0-17.4,2.7-20.3,4s-5.9,4.9-6.1,11.2c-0.3,6.3-1.1,29.5-1.2,37c-3.3,3.6-2.4,4.3-1.6,3.9s1.9-1.2,1.9-1.2
                    s-1.2,45.4,0.4,56.9s0.9,13,0.9,15.2c0,2.3,1.2,6.9,6.1,9.2c4.9,2.3,14.6,3.2,19.9,3.2c5.3,0,15-0.9,19.9-3.2
                    c4.9-2.3,6.1-6.9,6.1-9.2c0-2.3-0.7-3.7,0.9-15.2c1.6-11.5,0.4-56.9,0.4-56.9s1.1,0.8,1.9,1.2S378,58.4,374.6,54.8z M369.5,63.5
                    c0,0,0,13.4,0,15.2s-0.7,5.1-2.4,5.2c-1.7,0.1-4-0.9-4-3.1c0-2.1,0.4-8.7,0.8-10c0.4-1.3,3.3-6.9,3.9-8.3
                    C368.3,61.2,369.7,61.5,369.5,63.5z M356.4,8.6c0,0,7,1.4,9.4,2.6s4.7,6.4-0.2,6.8c-4.9,0.4-8.1-3.5-10.2-6.1
                    S353.8,7.9,356.4,8.6z M365.7,38.8c3.3,2,2.1,6.4,0.7,9.6c-1.5,3.2-3.2,8.8-4.4,11.8c-1.1,2.9-2.7,3.3-5.8,3.3
                    c-3.1,0-9.2,0-9.2,0s-6.1,0-9.2,0c-3.1,0-4.7-0.4-5.8-3.3c-1.1-2.9-2.9-8.5-4.4-11.8c-1.5-3.2-2.7-7.6,0.7-9.6
                    c3.3-2,13.6-3.5,18.7-3.5C352,35.3,362.3,36.8,365.7,38.8z M328.1,11.2c2.4-1.2,9.4-2.6,9.4-2.6c2.6-0.7,3.1,0.7,1,3.3
                    s-5.3,6.5-10.2,6.1C323.4,17.6,325.7,12.4,328.1,11.2z M326.1,62.5c0.5,1.3,3.5,6.9,3.9,8.3c0.4,1.3,0.8,7.9,0.8,10
                    c0,2.1-2.3,3.2-4,3.1c-1.7-0.1-2.4-3.3-2.4-5.2c0-1.9,0-15.2,0-15.2C324.3,61.5,325.6,61.2,326.1,62.5z M324.4,89.4
                    c0-2,1.6-3.7,3.2-3.7c1.6,0,3.2,2.1,3.2,3.7c0,1.6,0,8.9,0,10.8c0,1.9-1.1,3.2-3.2,3.2c-2.1,0-3.2-1.7-3.2-3.6
                    C324.4,97.9,324.4,89.4,324.4,89.4z M326.4,119.3c-1.1,2.3-2,0.9-2-0.8c0,0,0-6.5,0-8.5s0.1-4.7,3.2-4.9c3.1-0.3,4.1,3.1,3.2,5.5
                    C329.9,112.9,327.5,117,326.4,119.3z M347,138c-19,0-20-5.5-19.2-7.9c0.7-1.9,1.6-4.7,3.5-8.9c1.9-4.3,3.4-3.6,5.4-3.6
                    s6.5,0,10.3,0c3.7,0,8.3,0,10.3,0s3.5-0.7,5.4,3.6c1.9,4.3,2.8,7,3.5,8.9C367,132.5,366,138,347,138z M369.5,118.5
                    c0,1.7-0.9,3.1-2,0.8c-1.1-2.3-3.5-6.4-4.4-8.8s0.1-5.7,3.2-5.5c3.1,0.3,3.2,2.9,3.2,4.9S369.5,118.5,369.5,118.5z M369.5,99.8
                    c0,1.9-1.1,3.6-3.2,3.6c-2.1,0-3.2-1.3-3.2-3.2c0-1.9,0-9.2,0-10.8c0-1.6,1.6-3.7,3.2-3.7c1.6,0,3.2,1.7,3.2,3.7
                    C369.5,89.4,369.5,97.9,369.5,99.8z"/>
            </g>
        </g>
        <g>
            <g>
                <path class="img-parking" d="M375.5,261.3c-0.8,0.4-1.9,1.2-1.9,1.2s1.2-45.4-0.4-56.9c-1.6-11.5-0.9-13-0.9-15.2c0-2.3-1.2-6.9-6.1-9.2
                    c-4.9-2.3-14.6-3.2-19.9-3.2c-5.3,0-15,0.9-19.9,3.2c-4.9,2.3-6.1,6.9-6.1,9.2c0,2.3,0.7,3.7-0.9,15.2
                    c-1.6,11.5-0.4,56.9-0.4,56.9s-1.1-0.8-1.9-1.2c-0.8-0.4-1.7,0.3,1.6,3.9c0.1,7.5,0.9,30.7,1.2,37c0.3,6.3,3.2,9.9,6.1,11.2
                    c2.9,1.3,11.2,4,20.3,4c9.1,0,17.4-2.7,20.3-4c2.9-1.3,5.9-4.9,6.1-11.2c0.3-6.3,1.1-29.5,1.2-37
                    C377.3,261.6,376.3,260.9,375.5,261.3z M346.3,182c19,0,20,5.5,19.2,7.9c-0.7,1.9-1.6,4.7-3.5,8.9c-1.9,4.3-3.4,3.6-5.4,3.6
                    c-2,0-6.5,0-10.3,0c-3.7,0-8.3,0-10.3,0s-3.5,0.7-5.4-3.6s-2.8-7-3.5-8.9C326.2,187.5,327.2,182,346.3,182z M323.7,201.5
                    c0-1.7,0.9-3.1,2-0.8c1.1,2.3,3.5,6.4,4.4,8.8s-0.1,5.7-3.2,5.5c-3.1-0.3-3.2-2.9-3.2-4.9S323.7,201.5,323.7,201.5z M323.7,220.2
                    c0-1.9,1.1-3.6,3.2-3.6c2.1,0,3.2,1.3,3.2,3.2c0,1.9,0,9.2,0,10.8c0,1.6-1.6,3.7-3.2,3.7c-1.6,0-3.2-1.7-3.2-3.7
                    C323.7,230.6,323.7,222.1,323.7,220.2z M323.7,256.5c0,0,0-13.4,0-15.2s0.7-5.1,2.4-5.2s4,0.9,4,3.1c0,2.1-0.4,8.7-0.8,10
                    c-0.4,1.3-3.3,6.9-3.9,8.3C324.9,258.8,323.6,258.5,323.7,256.5z M336.9,311.4c0,0-7-1.4-9.4-2.6c-2.4-1.2-4.7-6.4,0.2-6.8
                    s8.1,3.5,10.2,6.1S339.5,312.1,336.9,311.4z M327.6,281.2c-3.3-2-2.1-6.4-0.7-9.6c1.5-3.2,3.2-8.8,4.4-11.8
                    c1.1-2.9,2.7-3.3,5.8-3.3c3.1,0,9.2,0,9.2,0s6.1,0,9.2,0c3.1,0,4.7,0.4,5.8,3.3c1.1,2.9,2.9,8.5,4.4,11.8
                    c1.5,3.2,2.7,7.6-0.7,9.6c-3.3,2-13.6,3.5-18.7,3.5C341.2,284.7,330.9,283.2,327.6,281.2z M365.1,308.8c-2.4,1.2-9.4,2.6-9.4,2.6
                    c-2.6,0.7-3.1-0.7-1-3.3s5.3-6.5,10.2-6.1S367.5,307.6,365.1,308.8z M367.1,257.5c-0.5-1.3-3.5-6.9-3.9-8.3
                    c-0.4-1.3-0.8-7.9-0.8-10c0-2.1,2.3-3.2,4-3.1c1.7,0.1,2.4,3.3,2.4,5.2s0,15.2,0,15.2C369,258.5,367.7,258.8,367.1,257.5z
                    M368.9,230.6c0,2-1.6,3.7-3.2,3.7c-1.6,0-3.2-2.1-3.2-3.7c0-1.6,0-8.9,0-10.8c0-1.9,1.1-3.2,3.2-3.2c2.1,0,3.2,1.7,3.2,3.6
                    C368.9,222.1,368.9,230.6,368.9,230.6z M368.9,210c0,2-0.1,4.7-3.2,4.9c-3.1,0.3-4.1-3.1-3.2-5.5c0.9-2.4,3.3-6.5,4.4-8.8
                    c1.1-2.3,2-0.9,2,0.8C368.9,201.5,368.9,208,368.9,210z"/>
            </g>
        </g>
        <g>
            <g>
                <path class="img-parking" d="M180.9,261.3c-0.8,0.4-1.9,1.2-1.9,1.2s1.2-45.4-0.4-56.9c-1.6-11.5-0.9-13-0.9-15.2c0-2.3-1.2-6.9-6.1-9.2
                    c-4.9-2.3-14.6-3.2-19.9-3.2c-5.3,0-15,0.9-19.9,3.2c-4.9,2.3-6.1,6.9-6.1,9.2c0,2.3,0.7,3.7-0.9,15.2
                    c-1.6,11.5-0.4,56.9-0.4,56.9s-1.1-0.8-1.9-1.2c-0.8-0.4-1.7,0.3,1.6,3.9c0.1,7.5,0.9,30.7,1.2,37c0.3,6.3,3.2,9.9,6.1,11.2
                    c2.9,1.3,11.2,4,20.3,4s17.4-2.7,20.3-4c2.9-1.3,5.9-4.9,6.1-11.2c0.3-6.3,1.1-29.5,1.2-37C182.7,261.6,181.7,260.9,180.9,261.3z
                    M151.7,182c19,0,20,5.5,19.2,7.9c-0.7,1.9-1.6,4.7-3.5,8.9c-1.9,4.3-3.4,3.6-5.4,3.6c-2,0-6.5,0-10.3,0s-8.3,0-10.3,0
                    s-3.5,0.7-5.4-3.6c-1.9-4.3-2.8-7-3.5-8.9C131.7,187.5,132.7,182,151.7,182z M129.1,201.5c0-1.7,0.9-3.1,2-0.8
                    c1.1,2.3,3.5,6.4,4.4,8.8c0.9,2.4-0.1,5.7-3.2,5.5c-3.1-0.3-3.2-2.9-3.2-4.9S129.1,201.5,129.1,201.5z M129.1,220.2
                    c0-1.9,1.1-3.6,3.2-3.6c2.1,0,3.2,1.3,3.2,3.2c0,1.9,0,9.2,0,10.8c0,1.6-1.6,3.7-3.2,3.7s-3.2-1.7-3.2-3.7
                    C129.1,230.6,129.1,222.1,129.1,220.2z M129.1,256.5c0,0,0-13.4,0-15.2c0-1.9,0.7-5.1,2.4-5.2c1.7-0.1,4,0.9,4,3.1
                    c0,2.1-0.4,8.7-0.8,10c-0.4,1.3-3.3,6.9-3.9,8.3C130.3,258.8,129,258.5,129.1,256.5z M142.3,311.4c0,0-7-1.4-9.4-2.6
                    c-2.4-1.2-4.7-6.4,0.2-6.8s8.1,3.5,10.2,6.1C145.4,310.7,144.9,312.1,142.3,311.4z M133,281.2c-3.3-2-2.1-6.4-0.7-9.6
                    c1.5-3.2,3.2-8.8,4.4-11.8c1.1-2.9,2.7-3.3,5.8-3.3s9.2,0,9.2,0s6.1,0,9.2,0c3.1,0,4.7,0.4,5.8,3.3c1.1,2.9,2.9,8.5,4.4,11.8
                    c1.5,3.2,2.7,7.6-0.7,9.6c-3.3,2-13.6,3.5-18.7,3.5C146.6,284.7,136.3,283.2,133,281.2z M170.5,308.8c-2.4,1.2-9.4,2.6-9.4,2.6
                    c-2.6,0.7-3.1-0.7-1-3.3s5.3-6.5,10.2-6.1C175.2,302.4,172.9,307.6,170.5,308.8z M172.5,257.5c-0.5-1.3-3.5-6.9-3.9-8.3
                    c-0.4-1.3-0.8-7.9-0.8-10c0-2.1,2.3-3.2,4-3.1c1.7,0.1,2.4,3.3,2.4,5.2c0,1.9,0,15.2,0,15.2C174.4,258.5,173.1,258.8,172.5,257.5
                    z M174.3,230.6c0,2-1.6,3.7-3.2,3.7s-3.2-2.1-3.2-3.7c0-1.6,0-8.9,0-10.8c0-1.9,1.1-3.2,3.2-3.2s3.2,1.7,3.2,3.6
                    C174.3,222.1,174.3,230.6,174.3,230.6z M174.3,210c0,2-0.1,4.7-3.2,4.9c-3.1,0.3-4.1-3.1-3.2-5.5c0.9-2.4,3.3-6.5,4.4-8.8
                    c1.1-2.3,2-0.9,2,0.8C174.3,201.5,174.3,208,174.3,210z"/>
            </g>
        </g>
        <g>
            <g>
                <path class="img-parking" d="M83,261.3c-0.8,0.4-1.9,1.2-1.9,1.2s1.2-45.4-0.4-56.9c-1.6-11.5-0.9-13-0.9-15.2c0-2.3-1.2-6.9-6.1-9.2
                    c-4.9-2.3-14.6-3.2-19.9-3.2c-5.3,0-15,0.9-19.9,3.2s-6.1,6.9-6.1,9.2c0,2.3,0.7,3.7-0.9,15.2c-1.6,11.5-0.4,56.9-0.4,56.9
                    s-1.1-0.8-1.9-1.2c-0.8-0.4-1.7,0.3,1.6,3.9c0.1,7.5,0.9,30.7,1.2,37c0.3,6.3,3.2,9.9,6.1,11.2c2.9,1.3,11.2,4,20.3,4
                    c9.1,0,17.4-2.7,20.3-4c2.9-1.3,5.9-4.9,6.1-11.2c0.3-6.3,1.1-29.5,1.2-37C84.7,261.6,83.8,260.9,83,261.3z M53.7,182
                    c19,0,20,5.5,19.2,7.9c-0.7,1.9-1.6,4.7-3.5,8.9c-1.9,4.3-3.4,3.6-5.4,3.6c-2,0-6.5,0-10.3,0c-3.7,0-8.3,0-10.3,0
                    c-2,0-3.5,0.7-5.4-3.6c-1.9-4.3-2.8-7-3.5-8.9C33.7,187.5,34.7,182,53.7,182z M31.1,201.5c0-1.7,0.9-3.1,2-0.8
                    c1.1,2.3,3.5,6.4,4.4,8.8c0.9,2.4-0.1,5.7-3.2,5.5c-3.1-0.3-3.2-2.9-3.2-4.9S31.1,201.5,31.1,201.5z M31.1,220.2
                    c0-1.9,1.1-3.6,3.2-3.6c2.1,0,3.2,1.3,3.2,3.2c0,1.9,0,9.2,0,10.8c0,1.6-1.6,3.7-3.2,3.7c-1.6,0-3.2-1.7-3.2-3.7
                    C31.1,230.6,31.1,222.1,31.1,220.2z M31.1,256.5c0,0,0-13.4,0-15.2c0-1.9,0.7-5.1,2.4-5.2c1.7-0.1,4,0.9,4,3.1
                    c0,2.1-0.4,8.7-0.8,10c-0.4,1.3-3.3,6.9-3.9,8.3C32.3,258.8,31,258.5,31.1,256.5z M44.3,311.4c0,0-7-1.4-9.4-2.6
                    c-2.4-1.2-4.7-6.4,0.2-6.8s8.1,3.5,10.2,6.1S46.9,312.1,44.3,311.4z M35,281.2c-3.3-2-2.1-6.4-0.7-9.6c1.5-3.2,3.2-8.8,4.4-11.8
                    c1.1-2.9,2.7-3.3,5.8-3.3c3.1,0,9.2,0,9.2,0s6.1,0,9.2,0c3.1,0,4.7,0.4,5.8,3.3c1.1,2.9,2.9,8.5,4.4,11.8
                    c1.5,3.2,2.7,7.6-0.7,9.6c-3.3,2-13.6,3.5-18.7,3.5C48.6,284.7,38.4,283.2,35,281.2z M72.6,308.8c-2.4,1.2-9.4,2.6-9.4,2.6
                    c-2.6,0.7-3.1-0.7-1-3.3c2.1-2.6,5.3-6.5,10.2-6.1C77.3,302.4,75,307.6,72.6,308.8z M74.6,257.5c-0.5-1.3-3.5-6.9-3.9-8.3
                    c-0.4-1.3-0.8-7.9-0.8-10c0-2.1,2.3-3.2,4-3.1s2.4,3.3,2.4,5.2s0,15.2,0,15.2C76.4,258.5,75.1,258.8,74.6,257.5z M76.3,230.6
                    c0,2-1.6,3.7-3.2,3.7c-1.6,0-3.2-2.1-3.2-3.7c0-1.6,0-8.9,0-10.8c0-1.9,1.1-3.2,3.2-3.2c2.1,0,3.2,1.7,3.2,3.6
                    C76.3,222.1,76.3,230.6,76.3,230.6z M76.3,210c0,2-0.1,4.7-3.2,4.9c-3.1,0.3-4.1-3.1-3.2-5.5c0.9-2.4,3.3-6.5,4.4-8.8
                    c1.1-2.3,2-0.9,2,0.8C76.3,201.5,76.3,208,76.3,210z"/>
            </g>
        </g>
        <polygon class="img-parking" points="393.7,2.6 393.7,157.8 300.2,157.8 300.2,2.6 295.8,2.6 295.8,157.8 202.2,157.8 202.2,2.6 197.8,2.6 
            197.8,157.8 104.2,157.8 104.2,2.6 99.8,2.6 99.8,157.8 6.3,157.8 6.3,2.6 1.8,2.6 1.8,317.4 6.3,317.4 6.3,162.2 99.8,162.2 
            99.8,317.4 104.2,317.4 104.2,162.2 197.8,162.2 197.8,317.4 202.2,317.4 202.2,162.2 295.8,162.2 295.8,317.4 300.2,317.4 
            300.2,162.2 393.7,162.2 393.7,317.4 398.2,317.4 398.2,2.6 	"/>
        <g>
            <g>
                <path class="img-parking" d="M272.4,271.6h-42.2c-7.1,0-12.8-5.8-12.8-12.8v-37.2c0-7.1,5.8-12.8,12.8-12.8h42.2
                    c7.1,0,12.8,5.8,12.8,12.8v37.2C285.2,265.9,279.5,271.6,272.4,271.6z M230.2,212c-5.3,0-9.6,4.3-9.6,9.6v37.2
                    c0,5.3,4.3,9.6,9.6,9.6h42.2c5.3,0,9.6-4.3,9.6-9.6v-37.2c0-5.3-4.3-9.6-9.6-9.6H230.2z"/>
            </g>
        </g>
        <g>
            <g>
                <path class="img-parking" d="M261.9,224.2v6.9h-13.6v4.5H259v6.9h-10.7v6.6h14.1v6.9h-22.2v-32H261.9z"/>
            </g>
        </g>
    </g>
</svg>
