<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 120 67" style="enable-background:new 0 0 120 67;" xml:space="preserve">
    <g>
        <path d="M102.3,57.3L87.6,42.6c0,0-0.1-0.1-0.1-0.1c1.8-3.3,2.8-7,2.8-11C90.3,18.8,80,8.5,67.4,8.5c-12.6,0-22.9,10.3-22.9,22.9
            s10.3,22.9,22.9,22.9c5,0,9.6-1.6,13.3-4.3l14.4,14.4c1,1,2.3,1.5,3.6,1.5c1.3,0,2.6-0.5,3.6-1.5C104.3,62.5,104.3,59.3,102.3,57.3
            z M50.9,31.4c0-9.1,7.4-16.5,16.5-16.5c9.1,0,16.5,7.4,16.5,16.5s-7.4,16.5-16.5,16.5C58.3,47.9,50.9,40.5,50.9,31.4z"/>
        <g>
            <path d="M61.6,43.9c-0.3,0-0.5-0.1-0.8-0.2c-4.5-2.4-7.3-7.1-7.3-12.2c0-2.5,0.7-5,2-7.1c0.5-0.8,1.5-1,2.3-0.6
                c0.8,0.5,1,1.5,0.6,2.3c-1,1.6-1.5,3.5-1.5,5.4c0,3.9,2.1,7.5,5.6,9.3c0.8,0.4,1.1,1.4,0.7,2.3C62.8,43.5,62.2,43.9,61.6,43.9z"/>
        </g>
    </g>
    <g>
        <path d="M116.2,55.2L97.7,8.3c-0.3-0.8-1.2-1.6-2.1-1.8l-2.2-0.6c0,0,0,0,0,0L79.3,1.6c-0.4-0.1-0.8-0.1-1.2,0.1l-6.7,2.7
            c2,0.3,3.9,0.8,5.7,1.5l0.4-0.2l0.1,0.3c1.4,0.6,2.7,1.3,4,2l-0.4-2.2l5.3,1.6l1.9,6.4c3.8,4.6,6.1,10.4,6.3,16.7l7.7,2.1l6,16.9
            l-11.7-4.3l8.8,8.8c0.8,0.8,1.4,1.7,1.9,2.7l6.6,2.6c1.1,0.4,2,0.2,2.4-0.7C116.8,57.9,116.8,56.6,116.2,55.2z M95.7,26.9L89.7,8.5
            l1.4,0.4l1.3,0.4c0.1,0,0.2,0,0.2,0l1.7,0.4l6.5,18.5L95.7,26.9z"/>
        <path d="M43.8,45.2l-8.9-3.1l2.4-12.6l2.8,0.7c0.1-1.5,0.2-3,0.5-4.4l-2.4-0.7l4.1-19L51,9.5c1.2-0.9,2.4-1.7,3.7-2.4L42,2.2
            c-0.3-0.1-0.7-0.2-1.1-0.1L27.4,5.6c-0.1,0-0.1,0.1-0.2,0.1l-3,0.8c-0.9,0.2-1.8,1-2.1,1.8L3.5,55.2c-0.5,1.4-0.6,2.7-0.2,3.5
            c0.3,0.6,0.8,0.9,1.5,0.9c0.3,0,0.6-0.1,1-0.2l26-10.2l27.3,10.3c0.5,0.2,1,0.2,1.5,0l2.7-1C55,57.2,47.9,52.2,43.8,45.2z
            M33.6,7.7l5-1.3l-1.1,5.1l-5.5,1.6L33.6,7.7z M25.5,9.7L28.1,9c0,0,0.1,0,0.1,0l1.4-0.3l-1.7,5.6l-4.5,1.3L25.5,9.7z M21.8,20
            l4.8-1.5l-3.2,10.5L18,30.9L21.8,20z M30.6,42.5l-19.2,7.1l4.9-13.9l17.1-5.9L30.6,42.5z M28,27.6l2.8-10.4l1.2-0.4l4.7-1.4
            l-1.3,6.1l-0.9,3.8L28,27.6z"/>
    </g>
</svg>