<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 120 67" style="enable-background:new 0 0 120 67;" xml:space="preserve">
    <g>
        <path d="M42.8,11h26.3c1,0,1.8-0.8,1.8-1.8s-0.8-1.8-1.8-1.8H42.8c-1,0-1.8,0.8-1.8,1.8S41.8,11,42.8,11z"/>
        <g>
            <path d="M76.8,62H29.3c-2.3,0-4.1-1.9-4.1-4.1V28.7h41.2c0.1-0.2,0.2-0.5,0.3-0.7c0.8-1.3,1.9-2.3,3.3-2.8H25.1V15.1
                c0-2.3,1.9-4.1,4.1-4.1H35v3.2c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8V2.8c0-1-0.8-1.8-1.8-1.8S35,1.8,35,2.8v4.7h-5.7
                c-4.2,0-7.7,3.4-7.7,7.7v42.8c0,4.2,3.4,7.7,7.7,7.7h48.6C77.2,64.5,76.8,63.3,76.8,62z"/>
            <path d="M74.9,15.9c1,0,1.8-0.8,1.8-1.8V11h6c2.3,0,4.1,1.9,4.1,4.1v9.7h3.5v-9.7c0-4.2-3.4-7.7-7.7-7.7h-6V2.8
                c0-1-0.8-1.8-1.8-1.8s-1.8,0.8-1.8,1.8v11.4C73.1,15.1,73.9,15.9,74.9,15.9z"/>
        </g>
        <path d="M72.2,29.7h24.7c1.1,0,1.8,1.2,1.3,2.2l-9.9,17.2c-0.1,0.2-0.2,0.5-0.2,0.7v9.3c0,0.5-0.2,0.9-0.6,1.2L84,63.1
            c-1,0.8-2.4,0.1-2.4-1.2V50.3c0-0.3-0.1-0.5-0.2-0.8L71,31.9C70.4,30.9,71.1,29.7,72.2,29.7z"/>
        <path d="M76.8,51.2l-4.6-7.7v5.9H58.4v-8.6h12.2l-2.1-3.5H58.4v-5.1c0-1-0.8-1.8-1.8-1.8s-1.8,0.8-1.8,1.8v5.1H41.1v-5.1
            c0-1-0.8-1.8-1.8-1.8s-1.8,0.8-1.8,1.8v5.1h-5.2c-1,0-1.8,0.8-1.8,1.8s0.8,1.8,1.8,1.8h5.2v8.6h-5.2c-1,0-1.8,0.8-1.8,1.8
            s0.8,1.8,1.8,1.8h5.2V59c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8v-6.1h13.8V59c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8v-6.1h13.8V59
            c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8v-6.1h1.1V51.2z M54.9,49.4H41.1v-8.6h13.8V49.4z"/>
    </g>
</svg>