<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 120 67" style="enable-background:new 0 0 120 67;" xml:space="preserve">
    <g>
        <path d="M87,41.6l-17.8-3.8c-1.3-0.3-2.3,0.9-1.9,2.1l5.6,17.3c0.4,1.2,2,1.6,2.8,0.6l4.1-4.6l8.2,7.4c0.6,0.5,1.5,0.5,2-0.1
            l2.1-2.4c0.5-0.6,0.5-1.5-0.1-2l-8.2-7.4l4.1-4.6C88.8,43.4,88.3,41.9,87,41.6z"/>
        <g>
            <path d="M61.8,7.6h7.4c0.8,0,1.5-0.7,1.5-1.5s-0.7-1.5-1.5-1.5h-7.4c-0.8,0-1.5,0.7-1.5,1.5S61,7.6,61.8,7.6z"/>
            <path d="M29,26.8c0.8,0,1.5-0.7,1.5-1.5v-7.4c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5v7.4C27.5,26.2,28.2,26.8,29,26.8z"/>
            <path d="M29,42.9c0.8,0,1.5-0.7,1.5-1.5v-7.4c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5v7.4C27.5,42.3,28.2,42.9,29,42.9z"/>
            <path d="M78,7.6h3.1c1.2,0,2.4,0.3,3.4,0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.5,0,1-0.3,1.3-0.8c0.4-0.7,0.1-1.6-0.6-2
                c-1.5-0.8-3.1-1.2-4.8-1.2H78c-0.8,0-1.5,0.7-1.5,1.5S77.2,7.6,78,7.6z"/>
            <path d="M89.8,28.8c-0.8,0-1.5,0.7-1.5,1.5v7.4c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-7.4C91.3,29.5,90.6,28.8,89.8,28.8z
                "/>
            <path d="M88.4,14.9v6.7c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5v-6.7c0-0.3,0-0.5,0-0.8c-0.1-0.8-0.8-1.4-1.6-1.3
                c-0.8,0.1-1.4,0.8-1.3,1.6C88.4,14.5,88.4,14.7,88.4,14.9z"/>
            <path d="M36.9,4.7c-2.9,0.2-5.6,1.7-7.4,4c-0.5,0.6-0.4,1.6,0.3,2c0.3,0.2,0.6,0.3,0.9,0.3c0.4,0,0.9-0.2,1.2-0.6
                c1.3-1.7,3.2-2.7,5.3-2.9c0.8-0.1,1.4-0.8,1.3-1.6C38.4,5.3,37.7,4.6,36.9,4.7z"/>
            <path d="M33.8,55c-1.8-1.1-3-3-3.3-5c-0.1-0.8-0.9-1.3-1.7-1.2c-0.8,0.1-1.3,0.9-1.2,1.7c0.4,2.9,2.1,5.5,4.6,7
                c0.2,0.2,0.5,0.2,0.8,0.2c0.5,0,0.9-0.2,1.2-0.7C34.6,56.3,34.4,55.4,33.8,55z"/>
            <path d="M65,56.1h-7.4c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5H65c0.8,0,1.5-0.7,1.5-1.5S65.8,56.1,65,56.1z"/>
            <path d="M48.8,56.1h-7.4c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5h7.4c0.8,0,1.5-0.7,1.5-1.5S49.6,56.1,48.8,56.1z"/>
            <path d="M53.1,4.7h-7.4c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5h7.4c0.8,0,1.5-0.7,1.5-1.5S54,4.7,53.1,4.7z"/>
        </g>
        <g>
            <path d="M48.9,28c-0.7-1.3-1.4-1.8-2.4-1.8c-0.9,0-1.7,0.7-1.7,1.6c0,3,7.5,2.6,7.5,7.8c0,3.4-2.2,5.4-5.6,5.4
                c-3.2,0-5.5-2.2-6-4.9l2.6-1.6c0.5,1.9,1.6,3.5,3.5,3.5c1.3,0,2.3-0.7,2.3-2.3c0-2.9-7.3-2.3-7.3-7.9c0-2.6,2-4.7,4.8-4.7
                c2.3,0,4.1,1.1,5,3.2L48.9,28z"/>
            <path d="M67.2,22.1l-10.9,20h-3l10.9-20H67.2z"/>
        </g>
    </g>
</svg>
