<div class="wrapper-inner wrapper-cuenta wrapper-black">
    <div class="wrapper-content">    
        <div class="title">Actualizar</div>
        <div class="title color-amarillo">Datos</div>

        <div class="border-black info-content-count">
            <div class="sub-title">Detalle</div>
            <div class="row cf">
                <form>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>Nombre:</label>
                        <div class="form_input">
                            <input type="text" value="Moises Jhonatan" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>Apellidos:</label>
                        <div class="form_input">
                            <input type="text" value="Lagos Pachas" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>DNI:</label>
                        <div class="form_input">
                            <select name="carlist" form="carform"  class="form-control">
                                <option value="volvo">DNI</option>
                                <option value="saab">Pasaporte</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>N° de documento:</label>
                        <div class="form_input">
                            <input type="number" value="47154471" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>Fecha de nacimiento:</label>
                        <div class="form_input">
                            <input id="date" type="date" value="2017-06-01" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>Teléfono:</label>
                        <div class="form_input">
                            <input id="phone" type="tel" value="963849113" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>Sexo:</label>
                        <div class="form_input">
                            <select name="carlist" form="carform" class="form-control">
                                <option value="volvo">Selecciona tu sexo</option>
                                <option value="saab">Másculino</option>
                                <option value="saab">Femenino</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group-form-black">
                        <label>Correo:</label>
                        <div class="form_input">
                            <input id="mail" type="mail" value="mlago@gmail.com" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <button type="submit" class="btn-yellow">Guardar cambios</button>
                    </div>
                    <div class="col-sm-4 align-right">
                        <a href="#" class="desactivado-count">Desactivar cuenta</a>
                    </div>                    
                </div>
                </form>
            </div>
        </div>

    </div>
</div>