<div class="wrapper-inner wrapper-cuenta wrapper-black">
        <div class="wrapper-content">
            <div class="title align-center ">Crea tu propio </div>
            <div class="title align-center color-amarillo">Estacionamiento</div>
            <div class="info-content-count">
                <div class="row cf">
                    <%= form_for :estacionamiento do |f| %>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :name_station, "Nombre del estacionamiento:" %>
                            <div class="form_input">
                                <%= f.text_field :name_station, class: 'form-control', placeholder: 'Ingresa el nombre del estacionamiento' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :address, "Dirección:" %>
                            <div class="form_input">
                                <%= f.text_field :address, class: 'form-control', placeholder: 'Ingresa la dirección' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :distrito, "Distrito:" %>
                            <div class="form_input">
                                <%= f.text_field :distrito, class: 'form-control', placeholder: 'Ingresa el distrito' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :googlemaps, "Dirección de google maps:" %> <a href="#"><i class="fa fa-question"></i></a>
                            <div class="form_input">
                                <%= f.text_field :googlemaps, class: 'form-control', placeholder: 'Ejemplo: https://goo.gl/maps/neheMJe7UxL2' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :phone, "N° de teléfono:" %>
                            <div class="form_input">
                                <%= f.telephone_field :phone, class: 'form-control', placeholder: 'Ingresa el teléfono del estacionamiento' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :cost, "Precio por hora:" %>
                            <div class="form_input">
                                <%= f.number_field :cost, class: 'form-control', placeholder: '0' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="group-form-black">
                            <%= f.label :picture, "Súbe una foto del estacionamiento" %>
                            <div class="form_input">
                                <%= f.file_field :picture, class: 'form-control', placeholder: 'Sube una foto del estacionamiento' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-form-black">
                            <%= f.label :location, "¿Ubicación del estacionamiento?:" %>
                            <div class="form_input">
                                <%= f.select :location, options_for_select([["Selecciona un tipo de ubicación", ""], "Interior", "Exterior"]), { :class => 'select' } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-form-black">
                            <%= f.label :position, "Lugar:" %>
                            <div class="form_input">
                                <%= f.select :position, options_for_select([["Selecciona un lugar", ""], "Primer piso", "Segundo piso", "Sótano"]), { :class => 'select' } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-form-black">
                            <%= f.label :quanty, "Cantidad de estacionamientos:" %>
                            <div class="form_input">
                                <%= f.number_field :quanty, class: 'form-control', placeholder: '0' %>
                            </div>
                        </div>
                    </div>
                    <div class="cf margin-bottom">
                        <%= f.label :quanty, "Servicios adicionales:", class: 'margin-bottom' %>
                        <div class="cf">
                            <div class="col-xs-6 col-sm-3">
                                <label><input type="checkbox" /> Lavado de auto</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label><input type="checkbox" /> Restaurante</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label><input type="checkbox" /> Cajero multiservicios</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label><input type="checkbox" /> 24/7 horas</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label><input type="checkbox" /> Estacionamiento para discapacitados</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label><input type="checkbox" /> Cámaras de seguridad</label>
                            </div>                            
                        </div>
                    </div>
                    <p >
                        <%= f.submit 'Guardar cambios', :class => 'btn-yellow' %>
                    </p>
                    <% end %>
                </div>
            </div>
    
        </div>
    </div>