<div class="wrapper-inner wrapper-cuenta wrapper-black">
    <div class="wrapper-content">    
        <div class="title">Bienvenido</div>
        <div class="title color-amarillo">Moises Lagos Pachas</div>

        <div class="border-black info-content-count">
            <div class="sub-title">¿Tienes un estacionamiento vacio? Nosotros nos encargaremos de que se alquile</div>
            <div class="row cf">
                <div class="col-sm-8">
                    <p>Alquilando tu plaza de tu estacionamiento con <span class="color-amarillo">Aquí.pe</span> nosotros nos encargaremos de todo. Tú solo tendrás que preocuparte de en qué vas a gastar esos ingresos extras.<p>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn-yellow"> Regístra un estacionamiento <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row cf count-option"> 
            <div class="col-xs-12 col-sm-4">
                <div class="subtitle">Configuración de tu cuenta</div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="#" class="btn-count">
                    Actualizar <br/> mis datos
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="#" class="btn-count">
                    Actualizar <br> Contraseña
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>