<div class="wrapper-inner wrapper-cuenta wrapper-black">
    <div class="wrapper-content">    
        <div class="title">Mis</div>
        <div class="title color-amarillo">Estacionamientos</div>

        <div class="blocks-parking">
            <div class="block-parking">
                <div class="img-parking">
                    <div class="img-park">
                        <%= image_tag  "img1.jpg" %>
                    </div>                    
                </div>
                <div class="descrip">
                    <div class="title">Nombre del Estacionamientos</div>
                    <p>Calle los Laureles -  Chorrillos</p>
                </div>
                <div class="botones">
                    <a href="#" class="btn-secundary"> <i class="fa fa-pencil"></i> Editar</a>
                    <a href="#" class="btn-secundary"> <i class="fa fa-trash"></i> Borrar</a>
                </div>
            </div>
            <div class="block-parking">
                <div class="img-parking">
                    <div class="img-park">
                        <%= image_tag  "img1.jpg" %>
                    </div>                    
                </div>
                <div class="descrip">
                    <div class="title">Nombre del Estacionamientos</div>
                    <p>Calle los Laureles -  Chorrillos</p>
                </div>
                <div class="botones">
                    <a href="#" class="btn-secundary"> <i class="fa fa-pencil"></i> Editar</a>
                    <a href="#" class="btn-secundary"> <i class="fa fa-trash"></i> Borrar</a>
                </div>
            </div>
            <div class="block-parking">
                <div class="img-parking">
                    <div class="img-park">
                        <%= image_tag  "img1.jpg" %>
                    </div>                    
                </div>
                <div class="descrip">
                    <div class="title">Nombre del Estacionamientos</div>
                    <p>Calle los Laureles -  Chorrillos</p>
                </div>
                <div class="botones">
                    <a href="#" class="btn-secundary"> <i class="fa fa-pencil"></i> Editar</a>
                    <a href="#" class="btn-secundary"> <i class="fa fa-trash"></i> Borrar</a>
                </div>
            </div>
        </div>

    </div>
</div>