<div class="wrapper-inner wrapper-cuenta wrapper-black">
        <div class="wrapper-content">    
            <div class="title">Mis</div>
            <div class="title color-amarillo">Reservaciones</div>
    
            <div class="blocks-parking">
                <div class="block-parking">
                    <div class="img-parking">
                        <div class="img-park">
                            <%= image_tag  "img1.jpg" %>
                        </div>                    
                    </div>
                    <div class="descrip">
                        <span>N° de reserva 001</span>
                        <div class="title">Nombre del Estacionamientos</div>
                        <p>Calle los Laureles -  Chorrillos</p>
                        <div class="cf">
                            <div class="col-xs-6">
                                <div class="descrip-info">
                                    Día de la reserva:
                                </div> 
                                <div class="result">17/06/18 al 17/06/18</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="descrip-info">
                                    Hora:
                                </div> 
                                <div class="result">00:00 a 12 m.</div>
                            </div>
                        </div>
                    </div>
                    <div class="botones">
                        <a href="#" class="btn-secundary">Ver reserva</a>
                    </div>
                </div>
                <div class="block-parking">
                    <div class="img-parking">
                        <div class="img-park">
                            <%= image_tag  "img1.jpg" %>
                        </div>                    
                    </div>
                    <div class="descrip">
                        <span>N° de reserva 001</span>
                        <div class="title">Nombre del Estacionamientos</div>
                        <p>Calle los Laureles -  Chorrillos</p>
                        <div class="cf">
                            <div class="col-xs-6">
                                <div class="descrip-info">
                                    Día de la reserva:
                                </div> 
                                <div class="result">17/06/18 al 17/06/18</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="descrip-info">
                                    Hora:
                                </div> 
                                <div class="result">00:00 a 12 m.</div>
                            </div>
                        </div>
                    </div>
                    <div class="botones">
                        <a href="#" class="btn-secundary">Ver reserva</a>
                    </div>
                </div>
                <div class="block-parking">
                    <div class="img-parking">
                        <div class="img-park">
                            <%= image_tag  "img1.jpg" %>
                        </div>                    
                    </div>
                    <div class="descrip">
                        <span>N° de reserva 001</span>
                        <div class="title">Nombre del Estacionamientos</div>
                        <p>Calle los Laureles -  Chorrillos</p>
                        <div class="cf">
                            <div class="col-xs-6">
                                <div class="descrip-info">
                                    Día de la reserva:
                                </div> 
                                <div class="result">17/06/18 al 17/06/18</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="descrip-info">
                                    Hora:
                                </div> 
                                <div class="result">00:00 a 12 m.</div>
                            </div>
                        </div>
                    </div>
                    <div class="botones">
                        <a href="#" class="btn-secundary">Ver reserva</a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>