<div class="wrapper-inner wrapper-cuenta wrapper-black">
        <div class="wrapper-content">
            <div class="title align-center color-amarillo">Crea tu cuenta en aquí.pe</div>
            <div class="lema text-content">Estás a solo unos clics de crear tu propia experiencia en aquí.pe</div>
            <div class="info-content-count">
                <div class="row cf">
                    <%= form_for :user, :url => { :action => :create } do |u| %>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :name, "Nombre:" %>
                            <div class="form_input">
                                <%= u.text_field :name, class: 'form-control', placeholder: 'Ingresa tu nombre' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :lastname, "Apellidos:" %>
                            <div class="form_input">
                                <%= u.text_field :lastname, class: 'form-control', placeholder: 'Ingresa tu nombre' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :typedocument, "Tipo de documento:" %>
                            <div class="form_input">
                                <%= u.select :typedocument, options_for_select([["Selecciona un tipo de document", ""], "DNI", "Carnet extranjero"]), { :class => 'form-control' } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :document, "N° de documento:" %>
                            <div class="form_input">
                                <%= u.number_field :document, class: 'form-control', placeholder: 'Ingresa tu documento' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :brithday, "Fecha de nacimiento:" %>
                            <div class="form_input">
                                <%= u.date_field :brithday, class: 'form-control' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :phone, "Teléfono:" %>
                            <div class="form_input">
                                <%= u.telephone_field :phone, class: 'form-control', placeholder: 'Ingresa tu N° teléfono' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :sexo, "Sexo:" %>
                            <div class="form_input">
                                <%= u.select :sexo, options_for_select([["Selecciona tu sexo", ""], "Másculino", "Femenino"]), { :class => 'form-control' } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :mail, "Correo:" %>
                            <div class="form_input">
                                <%= u.email_field :mail, class: 'form-control', placeholder: "Ingresa tu correo" %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :password, "Contraseña:" %>
                            <div class="form_input">
                                <%= u.password_field :password, class: 'form-control', placeholder: 'Ingresa tu contraseña' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= u.label :re_password, "Vuelva a escribir tu contraseña:" %>
                            <div class="form_input">
                                <%= u.password_field :re_password, class: 'form-control', placeholder: 'Vuelve a escribir tu contraseña' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-8">
                            <%= u.label :terms_of_service do %>
                            <%= u.check_box :terms_of_service %>
                                 <%= link_to 'Acépto los términos y condiciones', root_path %>
                            <% end %>
                        </div>
                        <div class="col-sm-4 align-right">
                            <%= u.submit 'Crear cuenta', :class => 'btn-yellow' %>
                        </div>                    
                    </div>
                    <% end %>
                </div>
            </div>
    
        </div>
    </div>