<div class="wrapper-reservation wrapper-black img-background1">
    <div class="wrapper-content">
        <a href="#" id="btn-back" class="btn-second"><i class="fa fa-angle-left"></i> Regresar</a>
        <div class="head-info cf">
            <div class="img-estacionamiento">
                <div class="img">
                    <%= image_tag  "img1.jpg" %>
                </div>                
            </div>
            <div class="description">
                <div class="title">Nombre de la estacionamiento</div>
                <div class="address">Calle los laureles - Chorrillos</div>
                <div class="subtitle_h3">Precio x hora:</div>
                <div class="price">S/8.00 <span>PEN</span></div>
                <div class="subtitle_h3">Puntuación general:</div>
                <div class="puntuation">
                    <div class="count-promedio">4,8</div>
                    <span class="star-big active"><i class="fa fa-star"></i></span>
                    <span class="star-big active"><i class="fa fa-star"></i></span>
                    <span class="star-big active"><i class="fa fa-star"></i></span>
                    <span class="star-big active"><i class="fa fa-star"></i></span>
                    <span class="star-big"><i class="fa fa-star"></i></span>
                </div>
            </div>
        </div>
        <div class="cf">
            <div class="col-sm-8">
                <%= form_for :reservation, :html => {:class => 'form-reservation-inner', 'data-bar' => 'baz'} do |f| %>
                    <div class="form-reservation">
                        <div class="subtitle_h3"><i class="fa fa-calendar-o"></i> Día de reserva:</div>
                        <div class="cf">
                            <div class="col-xs-6 group-form">
                                <label>Ingreso</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-xs-6 group-form">
                                <label>Salida</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-reservation">
                        <div class="subtitle_h3"><i class="fa fa-clock-o"></i> Hora de reserva:</div>
                        <div class="cf">
                            <div class="col-xs-6 group-form">
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-xs-6 group-form">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>  
                    <div class="form-reservation group-form">
                        <div class="subtitle_h3"><i class="fa fa-automobile"></i> N° de matrícula:</div>
                        <input type="text" placeholder="N° de matrícula" class="form-control">
                    </div>
                    <div class="form-reservation">
                        <button class="btn-yellow" id="send" type="submit">Reservar</button>
                    </div>
                <% end %>
                <form>
                    <div class="form-putuation">
                        <div class="form-reservation">
                            <div class="subtitle_h3"><i class="fa fa-star-o"></i> Puntua este estacionamiento:</div>
                            <div class="puntuation">
                                <div class="count-promedio">0</div>
                                <span class="star-big"><i class="fa fa-star"></i></span>
                                <span class="star-big"><i class="fa fa-star"></i></span>
                                <span class="star-big"><i class="fa fa-star"></i></span>
                                <span class="star-big"><i class="fa fa-star"></i></span>
                                <div class="count-promedio">5</div>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col-sm-4">
                <div class="service-aditional">
                    <div class="subtitle_h3"><i class="fa fa-cube"></i> Servicios adicionales:</div>
                    <ul class="list-services">
                        <li><i class="fa fa-caret-right"></i> Servicio 24/7</li>
                        <li><i class="fa fa-caret-right"></i> Lavado de auto</li>
                        <li><i class="fa fa-caret-right"></i> Restaurante</li>
                        <li><i class="fa fa-caret-right"></i> Discapacitados</li>
                        <li><i class="fa fa-caret-right"></i> Cámara de vigilancia</li>
                    </ul>
                    <div class="subtitle_h3"><i class="fa fa-phone"></i> Teléfono:</div>
                    <a href="#" class="btn-second btn-block"><i class="fa fa-volume-control-phone"></i> 96478441</a>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="subtitle_h3"><i class="fa fa-commenting-o"></i> Comentarios:</div>
            <form>
                <div class="group-form">
                    <textarea name="comment" form="usrform" class="form-control" placeholder="Escribe aquí tu comentario"></textarea>
                </div>
                <button class="btn-gray" id="send-comment">Borrar</button>
                <button class="btn-yellow" id="send-comment">Enviar</button>
            </form>
        </div>
        <div class="comments">
            <div class="subtitle_h3"><i class="fa fa-comments"></i> Otros comentarios:</div>
            <div class="others-comments">
                <div class="other-comment">
                    <div class="cf">
                        <div class="form-reservation">
                            <div class="puntuation">
                                <div class="mini-txt">Puntuacion:</div>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="user">Lagos</div>
                    </div>
                    <div class="parrafo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
                <div class="other-comment">
                    <div class="cf">
                        <div class="form-reservation">
                            <div class="puntuation">
                                <div class="mini-txt">Puntuacion:</div>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="user">Iparraguirre</div>
                    </div>
                    <div class="parrafo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
                <div class="other-comment">
                    <div class="cf">
                        <div class="form-reservation">
                            <div class="puntuation">
                                <div class="mini-txt">Puntuacion:</div>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="user">Soto</div>
                    </div>
                    <div class="parrafo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
                <div class="other-comment">
                    <div class="cf">
                        <div class="form-reservation">
                            <div class="puntuation">
                                <div class="mini-txt">Puntuacion:</div>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=" active"><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                                <span class=""><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="user">Díaz</div>
                    </div>
                    <div class="parrafo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
