<div class="wrapper-inner wrapper-cuenta wrapper-black">
    <div class="wrapper-content">
        <div class="title align-center ">Reservación </div>
        <div class="title align-center color-amarillo">de estacionamiento</div>
        <p class="text-content">Usted ha realizado una reservación en aquí.pe.A continuación, puede descargar, </p>
        <div id="send-pdf" class="border-black info-content-count">
            <div class="id-reservation">N° de reserva 001</div>
            <h1 class="color-amarillo">Reservación</h1>
            <h2>Nombre del estacionamiento</h2>
            <div class="address">Calle los laureles - Chorrillos</div>
            <p class="color-white">Teléfono:</p>
            <p class="margin-bottom">96284774</p>
            <p class="color-white margin-bottom">Precio x hora:</p>
            <p class="color-white price margin-bottom">S/. 8.00 <span>PEN</span> </p>
            <p class="color-white">Día de la reserva:</p>
            <p class="margin-bottom">17/06/18 al 17/06/18</p>
            <p class="color-white">Hora:</p>
            <p class="margin-bottom">00:00 a 12 m.</p>
        </div>
        <div class="cf">
            <div class="col-xs-6">
                <a href="#" class="btn-gray">Descargar en PDF <i class="fa fa-file-pdf-o"></i></a>
            </div>
            <div class="col-xs-6 align-right">
                <a href="#" class="btn-yellow">Enviar una copia a mi correo</a>
            </div>
        </div>

    </div>
</div>