%ads-demo{
    background-color: $color-azul;
    background-image: url('../images/logo-white.png');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
.wrapper-ads{
    text-align: center;
    width: 100%;
}
.demo-300x250{
    width: 300px;
    height: 250px;
    @extend %ads-demo;
}
.demo-300x600{
    width: 300px;
    height: 600px;
    @extend %ads-demo;
}
.demo-970x90{
    width: 320px;
    height: 100px;
    @extend %ads-demo;
    @media screen and (min-width:980px){
        width: 970px;
        height: 90px;
    }
}
#div-gpt-ad-1504709307920-0,
#div-gpt-ad-1504709307920-1,
#div-gpt-ad-1504709307920-2,
#div-gpt-ad-1525704236403-0,
#div-gpt-ad-1525704353553-0{
    text-align: center;
    margin: auto;
}
#div-gpt-ad-1525704236403-0{
    >div{
        margin-bottom: 16px;
    }
}
#div-gpt-ad-1504709307920-0{
    >div{
        margin-bottom: 16px;
    }
}