.wrapper-search-inner{
    padding-top: 60px;
}

.form-search-inner{
    .label-s{
        color: $color-griss;
        margin-bottom: 10px;
    }
    .input-s{
        margin-bottom: 10px;
    }
    input{
        width: 100%;
        padding: 10px;
        color: black;
        border-radius: 3px;
        outline: 0;
        border: 0px;
    }
    @media screen and (min-width:720px){
        .label-s{
            label{
                font-size: 18px;
            }
        }
    }
}

.wrapper-result-e{
    padding: 30px 0px;
}

.result-parking{
    width: 100%;
    .scroll-result{
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        .block-result{
            display: inline-block;
            width: 75%;
            text-align: center;
            padding: 10px;
            background-color: black;
            border-radius: 3px;
            .image{
                width: 133px;
                height: 133px;
                overflow: hidden;
                border-radius: 50%;
                display: inline-block;
                img{
                    width: 100%;
                    display: block;
                }
            }
            .description{
                padding: 10px 0px;
                color: white;
                text-align: left;
                .price{
                    font-size: 24px;  
                    text-align: center;
                    font-family: $f-main-bold;                
                    span{
                        font-family: $f-main;
                        font-size: 13px;
                    }
                }
                .title{
                    font-size: 20px;
                }
                .address{
                    color: $color-griss;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                .btn-reservation{
                    background-color: $color-amarillo;
                    border-radius: 3px;
                    text-align: center;
                    padding: 8px;
                    color: black;
                    text-transform: uppercase;
                    font-family: $f-main-bold;
                }
            }
        }
    }
    @media screen and (min-width:720px){
        .scroll-result{
            white-space: normal;
            overflow-x: visible;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            .block-result{
                width: 33.33333333%;
                text-align: left;
                background-color: inherit;
                border-radius: 0px;
                float: left;
                border-right: 1px solid #3a3a3a;
                .image{
                    width: 35%;
                    height: inherit;
                    border-radius: 0%;
                    float: left;
                }
                .description{
                    padding: 0px 10px;
                    float: left;
                    color: white;
                    text-align: left;
                    width: 65%;
                    .price{
                        font-size: 18px;  
                        text-align: left;
                        font-family: $f-main-bold;                
                        span{
                            font-family: $f-main;
                            font-size: 13px;
                        }
                    }
                    .title{
                        font-size: 16px;
                    }
                    .address{
                        color: $color-griss;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    .btn-reservation{
                        background-color: $color-amarillo;
                        border-radius: 3px;
                        text-align: center;
                        padding: 8px;
                        color: black;
                    }
                }
                &:last-child{
                    border-right: 0px;
                }
            }
        }
    }
}

#map-google{
    iframe{
        width: 100%;

    }
}