.wrapper-inner{
    padding: 90px 8px 20px 8px;
    @media screen and (min-width:720px){
        padding: 130px 0px 20px 0px;
    }
}
.wrapper-cuenta{    
    .title{
        font-size: 30px;
        font-family: $f-main-bold;
        text-align: center;
    }
    @media screen and (min-width:720px){
        .title{
            font-size: 50px;
            text-align: left;
        }
    }
}
.info-content-count{
    padding: 20px;
    margin: 20px 0px;
    .sub-title{
        text-align: center;
        font-size: 25px;
        font-family: $f-main-bold;
        margin-bottom: 20px;
    }
    p{
        color: $color-griss;
        font-size: 18px;
    }
    @media screen and (min-width:720px){
        padding: 30px;
        margin-top: 20px;
        .sub-title{
            text-align: center;
            font-size: 25px;
            font-family: $f-main-bold;
            margin: 20px 0px;
        }
        p{
            color: $color-griss;
            font-size: 18px;
        }
    }
}

.count-option{
    padding: 40px 0px;
    display: block;
    .subtitle{
        font-size: 30px;
        font-family: $f-main-bold;
    }
    .btn-count{
        background-color: #292929;
        color: white;
        display: inline-block;
        border-radius: 3px;
        padding: 20px;
        width: 100%;
        position: relative;
        font-size: 20px;
        font-family: $f-main-bold;
        i{
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
        &:hover{
            background-color: $color-amarillo;
            color: black;
        }
    }
}

.desactivado-count{
    color: white;
    &:hover{
        color: $color-amarillo;
    }
}