.wrapper-footer{
  background-color: white;
  text-align: center;
  >.wrapper-content{
    padding: 30px 0;
  }
  .logo-footer{
    
    text-align: center;
    margin-bottom: 10px; 
    svg{
      height: 60px;
    }
  }
  .element-foot {
    margin-top: 30px;
    border-top: 1px solid #e8e8e8;
    padding: 20px 0px;
  }
  .social-footer{
    a{
      font-size: 20px;
      margin: 10px;
    }
  }
  @media screen and (min-width:980px){
    .logo-footer{
      float: left;
      width: 132px;
    }
    .nav-footer{
      float: left;
      text-align: left;
      a{
        display: block;
        padding: 4px 0px;
        color: black;
        font-family: $f-main;
        &:hover{
          color: #5d5c5c;
        }
      }
    }
    .tyc{
      float: right;
      text-align: left;
      >a{
        display: block;
        padding: 4px 0px;
        color: black;
        font-family: $f-main;
        &:hover{
          color: #5d5c5c;
        }
      }
      .social-footer{
        a{
          display: inline-block;
          font-size: 23px;
          margin: 5px;
          color: black;
          font-family: $f-main;
          &:hover{
            color: #5d5c5c;
          }
        }
      }
    }
    .element-foot{
      .copy{
        float: left;
      }
      .create{
        float: right;
      }
    }
  }
}