.wrapper-header{
    position: fixed;
    z-index: 15;
    width: 100%;
    top: 0px;
    background: rgba(0,0,0,1);
    // background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    // background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    // background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    // background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    // background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );   
    .table{
        width: 100%;
        .logo{
            display: table-cell;
            padding-left: 10px;
            vertical-align: middle;
            a{
                display: inline-block;
                svg{
                    width: 102px;
                }
            }
        }
        .session{
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            #btn-session{
                padding: 18px 10px;
                height: 58px;
                display: inline-block;
            }
            .btn-login{
                padding: 18px 10px;
                height: 58px;
                display: inline-block;
            }
        }
        .menu{
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            width: 86px;
        }
    }
    @media screen and (min-width:720px){
        .table{
            position: relative;
            height: 55px;
            .logo{
                a{
                    svg{
                        width: 140px;
                    }
                }
            }
            .session{
                display: table-cell;
                text-align: right;
                #btn-session{
                    padding: 20px 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: $color-amarillo;
                        color: black;
                    }
                }
                .btn-login{
                    padding: 20px 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: $color-amarillo;
                        color: black;
                    }
                }
            }
            .menu{
                right: 0px;
            }
        }
    }
}

.menuButton{
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    outline: none;
    background-color: #fff;
    padding: 20px 10px;
    height: 58px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .5s ease;
    border: 0px;
    .menuButton__name {
        margin: 0 5px;
    }
    .bar_menu{
        display: inline-block;
    }
    .icon-bar {
        width: 22px;
        height: 1px;
        display: block;
        clear: both;
        position: relative;
        left: 4px;
        margin: 0;
        background-color: black;
        transition: all .5s ease;
    }
    .icon-bar:nth-child(2) {
        margin: 4px 0;
        left: 0;
    }
    &:hover{
        background-color: $color-amarillo;
    }
}

.content-head{
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.wrapper-nav{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color-amarillo;
    opacity: 0;
    visibility: hidden;
    z-index: 14;
    padding-top: 80px;
    @extend %transicion;
    .content-nav{
        padding: 0px 20px;
        a{
            display: block;
            font-size: 22px;
            font-family: $f-main-bold;
            color: black;
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width:720px){        
        top: 58px;
        padding-top: 0px;
        height: initial;
        .content-nav{
            a{
                padding: 20px;
                font-family: $f-main-bold;
                text-transform: uppercase;
                color: black;
                display: inline-block;
                font-size: 13px;
                margin-bottom: 0px;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
.nav-active{
    opacity: 1;
    visibility: visible;
    @extend %transicion;
}