.wrapper-login{
    background-color: $color-amarillo;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 13;
    padding-top: 58px;
    opacity: 0;
    visibility: hidden;
    @extend %transicion;
    .form-login,.form-login-count{
        padding: 20px 40px;
        .block-form{
            label{
                font-size: 14px;
            }
        }
    }
    .link-form{
        font-family: $f-main-bold;
        text-decoration: underline;
        color: black;
    }
    .form-login-count{
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid #e8e80f;
        p{
            text-align: center;
            font-size: 20px;
            font-family: $f-main-bold;
        }
    }
    @media screen and (min-width:720px){
        width: 240px;
        right: 87px;
        top: 60px;
        padding-top: 0px;
        height: initial;
        border-radius: 3px;
        .form-login{
            padding: 10px;
            .select-control{
                padding: 9px 10px;
            }
            .btn-black{
                padding: 9px;
            }
        }
        .form-login-count{
            margin-top: 0px;
            padding: 10px;
            p{
                font-size: 14px;
            }
            .btn-black{
                padding: 9px;
            }
        }
    }
}
.wrapper-login.login-active{
    opacity: 1;
    visibility: visible ;
    @extend %transicion;
}
.wrapper-nav-login{
    .block-form{
        padding: 20px;
        margin-bottom: 0px;
        a{
            margin-bottom: 10px;
            color: black;
            font-family: $f-main-bold;
            display: block;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.wrapper-nav-login{
    background-color: $color-amarillo;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 13;
    padding-top: 58px;
    opacity: 0;
    visibility: hidden;
    @extend %transicion;
    .form-login,.form-login-count{
        padding: 20px 40px;
        .block-form{
            label{
                font-size: 14px;
            }
        }
    }
    .link-form{
        font-family: $f-main-bold;
        text-decoration: underline;
        color: black;
    }
    .form-login-count{
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid #e8e80f;
        p{
            text-align: center;
            font-size: 20px;
            font-family: $f-main-bold;
        }
    }
    @media screen and (min-width:720px){
        width: 160px;
        right: 87px;
        top: 60px;
        padding-top: 0px;
        height: initial;
        border-radius: 3px;
        .form-login{
            padding: 10px;
            .select-control{
                padding: 9px 10px;
            }
            .btn-black{
                padding: 9px;
            }
        }
        .form-login-count{
            margin-top: 0px;
            padding: 10px;
            p{
                font-size: 14px;
            }
            .btn-black{
                padding: 9px;
            }
        }
    }
}
.wrapper-nav-login.login-active{
    opacity: 1;
    visibility: visible ;
    @extend %transicion;
}