.blocks-parking{
    width: 100%;
    .block-parking{
        border-top:1px solid #3c3c3c;
        padding: 20px 0px;
        width: 100%;
        display: table;
        .img-parking{
            display: table-cell;
            vertical-align: middle;
            .img-park{
                width: 70px;
                height: 70px;
                overflow: hidden;
                border-radius: 50%;
                img{
                    width: 100%;
                }
            }
        }
        .descrip{
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
            .title{
                font-size: 16px;
                text-align: left;
            }
            p{
                color:$color-griss;
                font-size: 13px;
                text-align: left;
            }
        }
        .botones{
            display: table-cell;
            vertical-align: middle;
            .btn-secundary{
                display: block;
                border:1px solid #3c3c3c;
                color: white;
                padding: 5px;
                font-size: 10px;
                margin-bottom: 10px;
            }
        }
        @media screen and (min-width:720px){
            .img-parking{
                width: 100px;
                .img-park{
                    width: 90px;
                    height: 90px;
                }
            }
            .descrip{
                display: table-cell;
                vertical-align: middle;
                padding: 10px;
                .title{
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                }
            }
            .botones{
                text-align: right;
                .btn-secundary{
                    display: inline-block;
                    border:1px solid #3c3c3c;
                    color: white;
                    padding: 5px;
                    font-size: 18px;
                    margin-bottom: 10px;
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}