.img-background1{
    background-image: url(asset-path('background-inner-mobile.png'));
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (min-width:720px){
        background-image: url(asset-path('background-inner.png'));
        
    }
}
.wrapper-reservation{
    padding-top: 60px;
    #btn-back{
        display: none;
    }
    .wrapper-content{
        padding: 20px 0px;
    }
    @media screen and (min-width:720px){
        #btn-back{
            display: inline-block;
        }  
    }
}
.head-info{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    margin-bottom: 20px;
    .img{
        width: 140px;
        height: 140px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
        img{
            width: 100%;
        }
    }
    .description{
        .title{
            font-size: 20px;
            font-family: $f-main-bold;
        }
        .address{
            color: $color-griss;
            margin-bottom: 10px;
        }
        .price{
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width:720px){
        display: table;
        width: 100%;
        .img-estacionamiento{
            display: table-cell;
            width: 250px;
            height: 250px;
            .img{
                width: 250px;
                height: 250px;
            }
        }
        .description{
            display: table-cell;
            vertical-align: top;
            text-align: left;
            padding-left: 20px;
            .title{
                font-size: 35px;

            }
            .address{
                font-size: 22px;
            }
            .price{
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }
}
.subtitle_h3{
    font-size: 15px;
    margin: 10px 0px;
    @media screen and (min-width:720px){
        margin: 20px 0px;
        font-size: 18px;
    }
}
.puntuation{
    .count-promedio{
        display: inline-block;
        font-size: 20px;
        margin-right: 8px;
    }
    .mini-txt{
        font-size: 14px;
        display: inline-block;
        color: white;
        margin-right: 8px;
    }
    span{
        font-size: 13px;
    }
    span.active{
        color: $color-amarillo;
    }
    .star-big{
        font-size: 22px;
    }
}

.form-reservation-inner{
    padding: 0px 10px;    
    .form-reservation{
        margin-bottom: 16px;
    }
    @media screen and (min-width:720px){
        .form-reservation{
            margin-bottom: 24px;
        }
    }
}
.service-aditional{
    padding: 0px 10px;
}
.form-putuation{
    padding: 0px 10px;
    margin-bottom: 20px;
}

.list-services{
    color: $color-griss;
    @media screen and (min-width:720px){
        font-size: 20px;
    }
}

.comments{
    width: 100%;
    padding: 0px 10px;
}
.others-comments{
    padding-bottom: 20px;
}
.other-comment{
    background-color: #2f2f2f;
    border-radius: 3px;
    color: #949494;
    padding: 20px 20px;
    margin-bottom: 15px;
    display: block;
    .puntuation{
        float: left;
    }
    .user{
        float: right;
        color: white;
        font-size: 14px;
    }
    .parrafo{
        margin-top: 14px;
    }
}