.form-search{
    padding: 20px;
    display: block;
    width: 100%;
    margin: 0 auto;
    .search_input{
        display: block;
        width: 100%;
        float: left;
        position: relative;
        i{
            position: absolute;
            top: 20px;
            left: 15px;
            z-index: 2;
            color: white;
            font-size: 18px;
        }
        input{
            border-top:1px solid white;
            border-left:1px solid white;
            border-bottom:0px solid white;
            border-right: 1px solid white;
            background: rgba($color: #000000, $alpha: 0.7);
            color: white;
            padding: 15px 10px 15px 40px;
            width: 100%;
            outline: none;
            height: 60px;
            font-size: 18px;
        }
    }
    
    button{
      display: block;
      width: 50%;
      float: left;
      border: 0px;
      height: 60px;
      text-transform: uppercase;
      font-family: $f-main-black;
    }
    #send{
      background-color: $color-amarillo;
      color: black;
      padding: 10px 20px;
    }
    #btn-filter{
      background-color: white;
      color: black;
      padding: 10px 20px;
      height: 60px;
      width: 50%;
      float: left;
      border: 0px;
      line-height: 40px;
      text-transform: uppercase;
      font-family: $f-main-black;
      cursor: pointer;
    }
    @media screen and (min-width:720px){
        width: 80%;
        .search_input{
            width: 70%;
            input{
                border-bottom:1px solid white;
                border-right: 0px solid white;
            }
        }
        button{
            width: 15%;
        }
        #btn-filter{
            width: 15%;
            cursor: pointer;
        }
    }
}


/**Filter*/
.content-filter{
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: $color-amarillo;
    z-index: 20;
    padding: 20px;
    right: -100%;
    @extend %transicion;
    .close-filter{
        text-align: right;
        #btn-close-filter{
            i{
                font-size: 20px;
            }
        }
    }
    .filter-scroll{
        height: 100%;
        position: relative;
    }
    @media screen and (min-width:720px){
        width:400px;
        right: -420px;
        #btn-close-filter{
            cursor: pointer;
            display: inline-block;
            font-family: $f-main-black;
        }
    }
}
.filter-active{
    right: 0px;
    @extend %transicion;
}
.block-form{
    label{
        width: 100%;
        display: block;
        font-family: $f-main-black;
        font-size: 22px;
        margin-bottom: 10px;
    }
    margin-bottom: 20px;
}
.select-control{
    width: 100%;
    border-radius: 3px;
    padding: 18px 20px;
    background-color: white;
    border:0px;
    outline: none;
}