.block-gallery{
    background-color: white;
    .title-tab{
        padding: 10px;
        font-size: 16px;
        font-family: $f-main-bold;
        text-align: center;
        color: $color-azul;
    }
    .option-tab{        
        ul{
            display: table;
            width: 100%;
            li{
                display: table-cell;
                text-align: center;
                padding: 10px;
                font-family: $f-main-bold;
                color: lighten($color: $color-negro, $amount: 30);
            }
            .active{
                color: $color-azul;
            }
        }
    }
    @media screen and (min-width:980px){
        .head-tabs{
            display: table;
            width: 100%;
            .title-tab{
                display: table-cell;
                width: 70%;
                text-align: left;
                font-size: 32px;
            }
            .option-tab{        
                display: table-cell;
                text-align: right;
                ul{
                    li{
                        cursor: pointer;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
.content-tabs{
    .tab-cont{
        display: none;
    }
    .tab-active{
        display: block;
    }
}