<div class="wrapper-search-inner wrapper-black">
    <div class="wrapper-content">
        <h1 class="title_principal align-center">Búsqueda de <span class="color-amarillo">estacionamiento</span></h1>
        <%= form_for :searchmap, :html => {:class => 'form-search-inner', 'data-bar' => 'baz'} do |f| %>
            <div class="cf">
                <div class="col-sm-6">
                    <div class="label-s">
                        <%= f.label :titulo, '¿Dónde deseas estacionarte?:' %>
                    </div>
                    <div class="input-s">
                        <%= f.text_field :titutlo, :value => 'Chorrillos' %>
                    </div>                    
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="label-s">
                        <%= f.label :entrada, 'Entrada:'%>
                    </div>
                    <div class="input-s">
                        <input type="datetime-local" id="party-time" name="party-time" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00" />
                    </div>                    
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="label-s">
                        <%= f.label :salida, 'Salida:' %>
                    </div>
                    <div class="input-s">
                        <input type="datetime-local" id="party-time" name="party-time" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00" />
                    </div>                    
                </div>
            </div>            
        <% end %>
    </div>
</div>
<%= @parkings.inspect %>
<div class="wrapper-result-e wrapper-gray">
    <div class="wrapper-content">
        <div class="result-parking">
            <div class="scroll-result cf">
                <a href="#" class="block-result cf">
                    <div class="image">
                        <%= image_tag "img1.jpg", html: { alt: "image 1" } %>
                    </div>
                    <div class="description">
                        <div class="price"> S/ 40.00 <span>PEN</span></div>
                        <div class="title">Nombre de estacionamiento</div>
                        <div class="address">Calle los Laureles - Chorrillos</div>
                        <div class="service">
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                        </div>
                        <div class="btn-reservation">Reservar <i class="fa fa-long-arrow-right"></i></div>
                    </div>                   
                </a>
                <a href="#" class="block-result cf">
                    <div class="image">
                        <%= image_tag "img1.jpg", html: { alt: "image 1" } %>
                    </div>
                    <div class="description">
                        <div class="price"> S/ 40.00 <span>PEN</span></div>
                        <div class="title">Nombre de estacionamiento</div>
                        <div class="address">Calle los Laureles - Chorrillos</div>
                        <div class="service">
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                        </div>
                        <div class="btn-reservation">Reservar <i class="fa fa-long-arrow-right"></i></div>
                    </div>                   
                </a>
                <a href="#" class="block-result cf">
                    <div class="image">
                        <%= image_tag "img1.jpg", html: { alt: "image 1" } %>
                    </div>
                    <div class="description">
                        <div class="price"> S/ 40.00 <span>PEN</span></div>
                        <div class="title">Nombre de estacionamiento</div>
                        <div class="address">Calle los Laureles - Chorrillos</div>
                        <div class="service">
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                            <div class="icon-service"></div>
                        </div>
                        <div class="btn-reservation">Reservar <i class="fa fa-long-arrow-right"></i></div>
                    </div>                   
                </a>
            </div>
        </div>
    </div>
</div>

<div id="map-google">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35019.314846974936!2d-77.01890707182422!3d-12.191756716447857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9deeb34c327%3A0x4f7929b6bba87e8e!2sDistrito+de+Chorrillos!5e0!3m2!1ses!2spe!4v1529522159446" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>