
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $f-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $f-main;
}

.tcenter{
  text-align: center !important;
}
.tleft{
  text-align: left !important;
}
.tright{
  text-align: right !important;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

::-moz-selection{
  background:black;
  color:$color-amarillo;
}
::selection {
  background: black;
  color: $color-amarillo;
}

.c-black{
  color: $color-negro !important;
}
.table{
  display: table;
}
body, html {
  height: 100%;
  margin: 0;
}
.wrapper-content{
  // padding: 0px 8px;
  @media screen and (min-width:980px){
    width: 980px;
    margin: 0 auto;
  }
}
.slider-background{
  height: 100%;
  .list-slider{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: block;
    img{
      width: 100%;
      display: block;
    }
  }
}
.title_principal{
  font-family: $f-main-black;
  font-size: 22px;
  @media screen and (min-width:770px){
    font-size: 36px;
    margin: 30px 0px;
  }
}
.subtitle_h3{
  font-size: 18px;
  @media screen and (min-width:770px){
    font-size: 24px;
  }
}
/*LOGO*/
.logo-color-txt{fill:white;}
.logo-color-icono{fill:$color-amarillo;}
.btn_inner-search{
  background-color: #ffff03;
  border-radius: 3px;
  text-align: center;
  padding: 8px;
  color: black;
  border:0px;
  text-transform: uppercase;
  margin-top: 35px;
  height: 40px;
}
.cloud-cluster{
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  .background,
  .foreground{
    .before,
    .after{
      will-change: transform;
      width: 1536px;
      height: 120px;
      position: absolute;
      float: left;
      bottom: 0;
      left: 0px;
      z-index: 0;
      background-image: asset_url("cloud-background-sm@2x.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
    }
  }
  .foreground{
    .before{
      z-index: 1;
      background-image: asset_url("cloud-foreground-sm@2x.png");
    }
  }
  &:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 90px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(98%, #fff));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 98%);
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0, #fff 98%)
  }
  @media screen and (min-width:40em){
    &:after{
      height: 315px;
    }
  }
  @media screen and (min-width:64em){
    height: 444px;
    .background,
    .foreground{
      .before,
      .after{
        width: 3229px;
        height: 304px;
        background-image: asset_url("cloud-background@2x.png");
      }
    }
    .foreground{
      .before{
        background-image: asset_url("cloud-foreground@2x.png");
      }
    }
  }
  @media screen and (min-width:90em){
    height: 444px;
    .background,
    .foreground{
      .before,
      .after{
        height: 444px;
        background-size: 100% 444px;
      }
    }
  }
}
.wrapper-black{
  background-color: black;
  color: white;
}
.wrapper-gray{
  background-color: #161616;
  color: white;
}
.color-amarillo{
  color: $color-amarillo;
}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}
.align-left{
  text-align: left;
}
.alert{
  background-color: red;
  color: white;
  padding: 10px;
}
.block-steep{
  text-align: center;
  span{
    background-color: $color-amarillo;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 44px;
    font-family: $f-main-black;
    font-size: 18px;
    display: inline-block;
  }
  .step-image{
    margin: 40px 0px;
    svg{
      height: 70px;
    }
  }
  p{
    font-size: 18px;
    font-family: $f-main-bold;
  }
}
.info-head{
  position: absolute;
  transform: translate(0,-50%);
  top: 50%;
  text-align: center;
  width: 100%;
  z-index: 10;
  .txt-small{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: $f-main-black;
  }
  .txt-two{
    color: white;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: $f-main-black;
  }
  @media screen and (min-width:64em){
    width: 980px;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    .txt-small{
      font-size: 30px;
    }
    .txt-two{
      font-size: 43px;
    }
  }
}

%btn{
  font-family: $f-main-black;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px;
  border:none;
  display: inline-block;
  border-radius: 3px;
}
.btn-yellow{
  color: black;
  background-color: $color-amarillo;
  @extend %btn;
}
.btn-gray{
  color: white;
  background-color: $color-griss;
  @extend %btn;
}
.btn-block{
  display: block;
  width: 100%;
}
.btn-black{
  background-color: black;
  color: $color-amarillo;
  @extend %btn;
  @extend %transicion;
  @media screen and (min-width:720px){
    &:hover{
      background-color: white;
      color: black;
      
    }
  }  
}
.margin-bottom{
  margin-bottom: 20px;
}
.wrapper-info{
  padding: 80px 8px;
  .subtitle_h3{
    margin-bottom: 60px;
  }
  .title_principal{
    margin-bottom: 10px;
  }
}
.img-parking{fill:#FFFFFF;}
.wrapper-info-black{
  padding: 80px 8px;
  background-color: black;
  .title_principal{
    color: white;
    margin-bottom: 10px;
  }
  p{
    color: #8c8c8c;
    font-size: 16px;
  }
  @media screen and (min-width:720px){
    p{
      font-size: 24px;
    }
  }
}


.group-form{
  label{
    color: $color-griss;
  }
  input,
  select,
  .form-control{
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 14px 14px;
    border: 0px;
    outline: none;
    width: 100%;
  }
}
.group-form-black{
  margin-bottom: 20px;
  label{
    display: inline-block;
    color: white;
    margin-bottom: 10px;
  }
  input,
  select,
  .form-control{
    border-radius: 3px;
    background-color: #3c3c3c;
    color: white;
    padding: 14px 14px;
    border: 0px;
    outline: none;
    width: 100%;
  }
}

.btn-second{
  border:1px solid $color-griss;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
}


.border-black{
  border: 1px solid #3c3c3c;
}
.color-white{
  color: white!important;
}
#send-pdf{
  text-align: center;
  position: relative;
  h1{
    margin-bottom: 40px;
  }
  .id-reservation{
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 20px;
  }
  .address{
    color: $color-griss;
    font-size: 19px;
    margin-bottom: 30px;
  }
  .price {
    font-size: 22px;
    font-family: $f-main-bold;
  }
}
.text-content{
  font-size: 20px;
}