// PALETA DE COLORES
$color-border:#f0f0f0;
$color-negro:#5d5c5c;
$color-griss:#777777;
$color-amarillo: #ffff03;

$bg-content:#eaeff5;


// TIPOGRAFIAS
$f-main: 'MovistarRegular','Montserrat', sans-serif;
$f-main-bold: 'MovistarBold','Montserrat', sans-serif;
$f-main-black: 'MovistarBlack','Montserrat', sans-serif;



// COLOR DE FONDO POR DEFECTO
$bg-site-color: #fff;

// COLOR DE FUENTE POR DEFECTO
$f-color: #000;

// TAMAÑO DE FUENTE PRINCIPAL
$fz-main: 14px;

// CONTENT WIDTH
$cnt-w: 1274px;

// SPRITE ICONOS
// $icons: url("../img/spt_icons.png")
%transicion{
    transition: all 400ms ease;
}