<div class="wrapper-inner wrapper-cuenta wrapper-black">
        <div class="wrapper-content">
            <div class="title align-center ">Crea tu propio </div>
            <div class="title align-center color-amarillo">Estacionamiento</div>
            <div class="info-content-count">
                <div class="row cf">
                    <%= form_for :parkings, :url => { :action => :create } do |f| %>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :name, "Nombre del estacionamiento:" %>
                            <div class="form_input">
                                <%= f.text_field :name, class: 'form-control', placeholder: 'Ingresa el nombre del estacionamiento' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :address, "Dirección:" %>
                            <div class="form_input">
                                <%= f.text_field :address, class: 'form-control', placeholder: 'Ingresa la dirección' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :district, "Distrito:" %>
                            <div class="form_input">
                                <%= f.text_field :district, class: 'form-control', placeholder: 'Ingresa el distrito' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :google_maps, "Dirección de google maps:" %> <a href="#"><i class="fa fa-question"></i></a>
                            <div class="form_input">
                                <%= f.text_field :google_maps, class: 'form-control', placeholder: 'Ejemplo: https://goo.gl/maps/neheMJe7UxL2' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :phone, "N° de teléfono:" %>
                            <div class="form_input">
                                <%= f.telephone_field :phone, class: 'form-control', placeholder: 'Ingresa el teléfono del estacionamiento' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="group-form-black">
                            <%= f.label :price, "Precio por hora:" %>
                            <div class="form_input">
                                <%= f.number_field :price, class: 'form-control', placeholder: '0' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="group-form-black">
                            <%= f.label :picture, "Súbe una foto del estacionamiento" %>
                            <div class="form_input">
                                <%= f.file_field :picture, class: 'form-control', placeholder: 'Sube una foto del estacionamiento' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-form-black">
                            <%= f.label :pkg_location, "¿Ubicación del estacionamiento?:" %>
                            <div class="form_input">
                                <%= f.select :pkg_location, options_for_select([["Selecciona un tipo de ubicación", ""], "Interior", "Exterior"]), { :class => 'select' } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-form-black">
                            <%= f.label :pkg_place, "Lugar:" %>
                            <div class="form_input">
                                <%= f.select :pkg_place, options_for_select([["Selecciona un lugar", ""], "Primer piso", "Segundo piso", "Sótano"]), { :class => 'select' } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-form-black">
                            <%= f.label :quantity, "Cantidad de estacionamientos:" %>
                            <div class="form_input">
                                <%= f.number_field :quantity, class: 'form-control', placeholder: '0' %>
                            </div>
                        </div>
                    </div>
                    <div class="cf margin-bottom">
                        <%= f.label :other_services, "Servicios adicionales:", class: 'margin-bottom' %>
                        <div class="cf">
                            <div class="col-xs-6 col-sm-3">                                
                                <%= f.check_box :service_wash %>
                                <%= f.label :service_wash, "Lavado de auto" %>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <%= f.check_box :service_rest %>
                                <%= f.label :service_rest, "Restaurante" %>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <%= f.check_box :service_atm %>
                                <%= f.label :service_atm, "Cajero multiservicios" %>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <%= f.check_box :service_24_7 %>
                                <%= f.label :service_24_7, "24/7 horas" %>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <%= f.check_box :camare_security %>
                                <%= f.label :camare_security, "Estacionamiento para discapacitados" %>
                            </div>                            
                        </div>
                    </div>
                    <p >
                        <%= f.submit 'Guardar cambios', :class => 'btn-yellow' %>
                    </p>
                    <% end %>
                </div>
            </div>
    
        </div>
    </div>