<!DOCTYPE html>
<html>
  <head>
    <title>Aquipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <%-# Filter -%>
    <div class="content-filter">
      <div class="close-filter">
        <div id="btn-close-filter">cerrar <i class="fa fa-close"></i></div>
      </div>
      <div class="title_principal">Filtro</div>
      <form class="filter-scroll">
        <div class="content-form-filter">
          <div class="block-form">    
            <label for="q"><i class="fa fa-tags"></i>Precio</label>
            <%= select(:object_field, "", ['Precio menor a mayor', 'Precio mayor a menor'], {}, { :class => 'select-control' }) %>
          </div>
          <div class="block-form">
            <label for="a"><i class="fa fa-cube"></i>Tipo de servicio</label>      
            <%= select(:object_field, "", ['Cochera interior','Cochera exterior'], {}, { :class => 'select-control' }) %>
          </div>
          <div class="block-form">
            <label for="c"><i class="fa fa-map-marker"></i>Ubicación</label>           
            <%= select(:object_field, "", ['Sótano', 'Techo'], {}, { :class => 'select-control' }) %>
          </div>
          <button class="btn-black btn-block" id="send" type="submit">Aceptar filtros <i class="fa fa-long-arrow-right"></i></button>
        </div>
      </form>
    </div>
    <%-# Filter -%>

    <%-# Header Navigation -%>
    <header class="wrapper-header">
      <div class="wrap-content">
        <div class="table">
          <div class="logo">
            <%= link_to root_path, :action => 'go' do %>
              <%= render 'partials/logo' %>
            <% end %>
          </div>
          <div class="session">
            <% if logged_in? %>
              <div class="btn-login" id="btn-nav-login"><i class="fa fa-user-o"></i> Bienvenido <%= current_user.first_name %> <i class="fa fa-chevron-down"></i> </div>
            <%else%>
              <div id="btn-session"> <i class="fa fa-user-o"></i> Inicia sesión <i class="fa fa-chevron-down"></i></div>
            <% end %>            
          </div>
          <div class="menu">
            <button type="button" class="menuButton collapsed">
              <span class="menuButton__name">Menu</span>
              <span class="bar_menu">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </header>
    
    <%-# nav -%>
    <div class="wrapper-nav">
      <div class="wrap-content">
        <nav class="content-nav">
          <%= link_to  "Inicio", root_path, class: 'link_nav' %>
          <%= link_to  "Regístrate", registro_path, class: 'link_nav' %>
          <%= link_to  "Nosotros", root_path, class: 'link_nav' %>
          
        </nav>
      </div>
    </div>

    <%-# Login -%>
    <div class="wrapper-login">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%=form_for(:session, url: login_path, :html => {:class => 'form-login'}) do |l| %>
        <div class="block-form">
          <label for="email"><i class="fa fa-user"></i> Correo</label>
          <%= l.email_field :email, class: 'select-control', placeholder: 'Ingresa tu correo' %>
        </div>
        <div class="block-form">    
          <label for="password"><i class="fa fa-lock"></i> Contraseña:</label>
          <%= l.password_field :password, class: 'select-control', placeholder: 'Ingresa tu contraseña' %>
        </div>
        <div class="block-form">    
          <a href="#" class="link-form">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="block-form">
          <label><input type="checkbox" /> Recordarme</label>   
        </div>
        <%= l.submit "Iniciar Sesión", class: "btn-black btn-block", id: "send" %>
      <% end %>
      <div class="form-login-count">
        <p>¿No tienes cuenta?</p>
        <%= link_to  "Regístrate", registro_path, class: 'btn-black btn-block' %>
      </div>
    </div>

    <%-# Nav login -%>
    <div class="wrapper-nav-login">
      <div class="block-form">
        <%= link_to  "Mi cuenta", users_path %>
        <%= link_to  "Mis reservas", mis_reservaciones_path %>
        <%= link_to logout_path, method: :delete do %>
          <span class='glyphicon glyphicon-log-in'> Salir</span>
        <% end %>
      </div>
    </div>

    <%= yield %>

    

    <%-# Footer -%>
    <footer class="wrapper-footer">
      <div class="wrapper-content">
          <div class="cf">
            <div class="logo-footer">
              <%= render 'partials/logo-footer' %>
            </div>
            <div class="nav-footer">
              <%= link_to  "Inicio", root_path %>
              <%= link_to  "Nosotros", :controller => "users", :action => "index" %>
              <%= link_to  "Inicia sesión", :controller => "users", :action => "index" %>
              <%= link_to  "Regístrate", :controller => "users", :action => "index" %>
            </div>
            <div class="tyc">
              <a href="#">Ayuda</a>
              <a href="#">Términos y condiciones</a>
              <div class="social-footer">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/discover" target="_blank"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="element-foot cf">
            <div class="copy">Todos los derechos reservados © 2018</div>
            <div class="create">Grupo N° 1</div>
          </div>
      </div>
    </footer>
    <script>
      $(document).ready(function() {
        $('#btn-close-filter, #btn-filter').click(function(){
          $('.content-filter').toggleClass("filter-active");
        });
        $('.menuButton').click(function(){
          $('.wrapper-nav').toggleClass("nav-active");
        });
        $('#btn-session').click(function(){
          $('.wrapper-login').toggleClass("login-active");
        });
        $('#btn-nav-login').click(function(){
          $('.wrapper-nav-login').toggleClass("login-active");
        });
      });

    </script>
  </body>
</html>
